/* Container */
.awebooking-container {
  margin-left: auto;
  margin-right: auto;

  padding-left: ($awebooking-gutter-width / 2);
  padding-right: ($awebooking-gutter-width / 2);
  @include clearfix;

  @include media-breakpoint-up('sm') {
    width: $awebooking-container-sm;
  }

  @include media-breakpoint-up('md') {
    width: $awebooking-container-md;
  }

  @include media-breakpoint-up('lg') {
    width: $awebooking-container-lg;
  }
}
