$filterbox-bg-color:         #fff !default;

.filterbox {
	margin: 0;
  width: 100%;
  display: block;
  margin-bottom: 1.5rem;
}

.filterbox__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  backface-visibility: hidden;
  padding: 10px 12px;
  border-radius: 4px;
  background-color: $filterbox-bg-color;
  box-shadow: 0 1px 4px 0 rgba(black, .08);

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.filterbox__box:not(:last-child) {
  box-shadow: none;
  padding-bottom: .8rem;
  border-bottom: solid 1px $gray-200;

  @include media-breakpoint-up(md) {
    box-shadow: 1px 0 0 rgba(0,0,0,.07);
    padding-bottom: 0;
    border-bottom: none;
  }
}

.filterbox__label {
	display: inline-block;
	margin-right: 10px;
}

.filterbox__sortby {
	display: inline-block;
	width: auto;
}

.filterbox__showprice {
  display: inline-block;
	margin: 0;
  padding: 0;
	list-style: none;
}

.filterbox__showprice-item {
	display: inline-block;

	&:not(:last-child) {
		margin-right: 10px;
	}

	&.active,
	&:focus,
	&:hover {
		a {
			color: #1a1a1a;
		}
	}

	a {
		color: #888;
	}
}
