.hotel-content {
  @include make-row();
}

.hotel-content__main,
.hotel-content__aside {
  @include make-col-ready();
}

.hotel-content__main {
  @include make-col(12);

  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.hotel-content__aside {
  @include make-col(12);

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}
