.list-room {
	margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;

	@include clearfix;
}

.list-room__title {
  margin-bottom: 10px;
}

.list-room__media {
	width: 45%;
	float: left;
	padding: 0 15px;

  img {
    width: 100%;
  }
}

.list-room__info {
	width: 55%;
	float: left;
	padding: 0 15px;
}

.list-room__price {
	font-weight: bold;
  margin-bottom: 10px;
  line-height: 1;

  span {
    font-size: 30px;
  }
}

.list-room__desc {
	font-size: 14px;
}
