.awebooking,
.awebooking-block {
  .list-room {
    margin-bottom: 50px;
  }
}

.list-room__title {
  margin-bottom: 0;
}

.list-room__wrap {
  margin-left: -15px;
  margin-right: -15px;

  @include clearfix;
}

.list-room__media {
  width: 100%;
  float: left;
  padding: 0 15px;

  @include media-breakpoint-up(lg) {
    width: 45%;
  }

  img {
    width: 100%;
  }
}

.list-room__info {
  width: 100%;
  float: left;
  padding: 0 15px;

  @include media-breakpoint-up(lg) {
    width: 55%;
  }
}

.list-room__price {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1;

  span {
    font-size: 24px;
  }
}

.list-room__desc {
  font-size: 0.8em;
  margin-bottom: 0;
}

.list-room__info-list,
.list-room__occupancy {
  margin: 0;
  list-style: none;
  width: 100%;
  float: left;
  padding: 0 15px;

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

.list-room__info-list {
  font-size: 0.75em;
  padding-bottom: 5px;
  border-bottom: 1px solid #f3f3f3;

  @include media-breakpoint-up(lg) {
    box-shadow: 1px 0 0 rgba(0, 0, 0, .07);
    margin-bottom: 0;
    border-bottom: none;
  }
}

.list-room__additional-info {
  margin-bottom: 5px;

  @include clearfix;
}
