.list-room {
	margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;

	@include clearfix;
}

.list-room__title {
  margin-bottom: 10px;
}

.list-room__media {
	width: 100%;
	float: left;
	padding: 0 15px;

  @media (min-width: 996px) {
    width: 45%;
  }

  img {
    width: 100%;
  }
}

.list-room__info {
	width: 100%;
	float: left;
	padding: 0 15px;

  @media (min-width: 996px) {
    width: 55%;
  }
}

.list-room__price {
	font-weight: bold;
  margin-bottom: 10px;
  line-height: 1;

  span {
    font-size: 30px;
  }
}

.list-room__desc {
	font-size: 14px;
  margin-bottom: 20px;
}

.list-room__info-list,
.list-room__occupancy {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  float: left;
  padding: 0 15px;

  @media (min-width: 996px) {
    width: 50%;
  }
}

.list-room__info-list {
  margin-bottom: 15px;

  @media (min-width: 996px) {
    box-shadow: 1px 0 0 rgba(0,0,0,.07);
    margin-bottom: 0;
  }
}

.list-room__additional-info {
  margin-bottom: 20px;

  @include clearfix;
}


