.roommaster {
  background-color: #fff;
  background-clip: padding-box;
  //border: solid 1px rgba($black, 0.1);
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba($black, .02), 1px 3px 14px rgba($black, .1);

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

}

.roommaster-header {
	padding: .3rem;
	border-bottom: solid 1px $gray-200;
	position: relative;

	&__title,
	h3#{&}__title,
	h4#{&}__title {
		font-size: $h5-font-size;
		margin-bottom: 0;
	}

	.button--circle-icon {
		top: 4px;
		right: .75rem;
		position: absolute;
		border-color: transparent;
	}
}

.roommaster-content {
	@include clearfix;

	&__title {
		font-size: 1rem;
		font-weight: bold;
		padding: 5px 5px;
	}
}

.roommaster-info,
.roommaster-list {
	padding: .3rem;
}

.roommaster-info {

	&__list {
		list-style: none;
		margin: 0;
		padding: 0.3rem 0;

		.info-item {
			position: relative;
			font-size: .8rem;
			padding-left: 1.2rem;
			padding-bottom: .5rem;
		}

		.info-icon {
			position: absolute;
			top: 1px;
			left: 0;
		}
	}
}

.roommaster-list {
	padding-left: .3rem;
}

.columns.roommaster-list__header {
  display: none;
  background-color: #f7f7f7;

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.roommaster-box {
	padding: .3rem;
  border-bottom: 1px solid #f3f3f3;

  @include media-breakpoint-up(lg) {
    border-bottom: none;
  }

  .roommaster-content__title {
    display: block;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.roommaster-deal {
	&__item {
		&:not(:last-child) {
			margin-bottom: .3rem;
		}
	}

	&__bucketspan {
		font-size: .8rem;
		font-weight: bold;
	}

	&__info {
		font-size: .8rem;

		.info-icon {
			margin-right: .3rem;
		}
	}
}
.roommaster-occupancy {
	&__item {
		display: block;
	}
}

.roommaster-inventory {
	font-size: 1rem;
	font-style: italic;

	.awebooking-price  {
		display: block;
		font-size: 1.2rem;
	}
}

.roommaster-button {
	.button {
		width: 100%;
	}

	&__remaining-rooms {
		font-size: .9rem;
		font-style: italic;
	}
}

.roommaster-detail {
	border-top: 1px solid $gray-500;
	padding: 1.2rem .8rem;
}

.tabs-main {
	overflow: hidden;
}

.tabs-main-list {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid $gray-500;

	li {
		position: relative;
		cursor: pointer;
		display: inline-block;
		padding: .8rem 1.2rem;

		+ li {
			margin-left: 1.2rem;
		}

		&.active {
			color: $blue
		}
	}
}

.tabs-active-divider {
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 3px;
	background-color: $blue;
	transition: all .6s ease;
}

.tabs-main-container {
	white-space: nowrap;
	transition: all .6s ease;
	box-sizing: border-box;
	font-size: 0;

	.tabs-main-content {
		display: inline-block;
	    vertical-align: top;
	    font-size: 1.1rem;
	    width: 100%;
	    white-space: normal;
	}
}


.awebooking-tooltip-theme {
	text-align: left;

	.occupancy-description {
		&__title {
			margin: 0;
			padding-bottom: .4em;
		}

		&__list {
			list-style: none;
			margin: 0;
			padding: 0;
			padding-left: 1rem;

			li {
				padding: .2em 0;
			}
		}
	}
}

.roommaster-occupancy-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.awebooking .booknow {
  font-size: .75rem;
  font-weight: 600;
}
