$searchbox-bg-color:         #fff !default;
$searchbox-button-font-size: 1.1rem !default;
$searchbox-button-min-width: 130px !default;

$searchbox-box--border:      200px !default;

/* Searchbox Layout */
.searchbox,
.searchbox__wrap,
.searchbox__box,
.searchbox__box-wrap,
.searchbox__box-icon {
  box-sizing: border-box;
}

.searchbox {
  margin: 0;
  width: 100%;
  display: block;
}

.searchbox__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  min-height: 1px;
  position: relative;
  backface-visibility: hidden;
}

.searchbox__box {
  cursor: pointer;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.searchbox__box-wrap {
  position: relative;
}

.searchbox__box-label,
.searchbox--box-line-occupancy {
  @include text-truncate;
}

.searchbox__box-icon {
  width: 48px;
  height: 48px;
  line-height: 48px;

  padding: 0;
  margin: auto 0;
  overflow: hidden;
  display: inline-block;

  color: #333;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
}

/* Styles */
.searchbox--inline {
  display: flex;

  .searchbox__wrap {
    width: auto;
    display: inline-flex;
  }
}

.searchbox--align-center {
  &.searchbox--inline {
    justify-content: center;
  }

  &:not(.searchbox--inline) .searchbox__wrap {
    justify-content: center;
  }
}

.searchbox--align-right {
  &.searchbox--inline{
    justify-content: flex-end;
  }

  &:not(.searchbox--inline) .searchbox__wrap {
    justify-content: flex-end;
  }
}

// Layout Horizontal
.searchbox--horizontal {
  .searchbox__wrap {
    flex-direction: row;
    border-radius: 4px;
    background-color: $searchbox-bg-color;
    box-shadow: 0 1px 4px 0 rgba(black, .08);
  }
}

// Test
.awebooking--search_form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
  width: 100%;
  background-color: #515b62;
  padding: 12px 0;

  > form {
    @include make-container;
    @include make-container-max-widths;
  }
}

.searchbox--horizontal-agoda {
  .searchbox__wrap {
    flex-wrap: nowrap;
  }

  .searchbox__box {
    height: 48px;
    margin: 0 5px 0 0;
    padding: 0 5px;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.07);

    &.searchbox__box--button {
      box-shadow: none;
      background-color: transparent;
    }
  }

  .searchbox__box--hotel {
    flex-grow: 1;
    min-width: 300px;
  }

  .searchbox__box--button {
    flex-grow: 1;
    min-width: 130px;
  }

  .button.searchbox__submit {
    width: 100%;
    height: 48px;
    display: block;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.07);
  }
}

// Layout Vertical
%vertical-searchbox-box {
  padding: 0;
  margin: 0 0 12px;
  background-color: $searchbox-bg-color;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);

  &.searchbox__box--button {
    box-shadow: none;
    background-color: transparent;
  }
}

.searchbox--vertical {
  width: 300px;

  .searchbox__box {
    @include make-col(12);
    @extend %vertical-searchbox-box;
  }

  .button.searchbox__submit {
    width: 100%;
  }
}

.searchbox--vertical-agoda {
  width: 620px;

  .searchbox__box {
    @extend %vertical-searchbox-box;
  }

  .searchbox__box--hotel {
    @include make-col(12);
  }
  .searchbox__box--checkin,
  .searchbox__box--checkout {
    @include make-col(6);
  }
  .searchbox__box--occupancy {
    @include make-col(8);
  }
  .searchbox__box--button {
    @include make-col(4);
  }

  .searchbox__box:not(.searchbox__box--button) .searchbox__box-wrap {
    padding: 8px 12px; // height 65px.
  }
  .searchbox__box--button .searchbox__box-wrap {
    padding-left: 12px;
  }

  .searchbox__box-wrap {
    height: 100%;
  }

  .searchbox__box-icon {
    font-size: 26px;
  }

  .button.searchbox__submit {
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: $searchbox-button-font-size;
  }
}






.searchbox__popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 50%;
  padding: 10px;

  transform: translateY(10px) rotateX(-10deg);
  transform-origin: 50% 0;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px rgba(#000, .2);
  transition: all .3s ease;

  &.searchbox__popup--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(10px) rotateX(0);
  }
}

.searchbox__box--datepicker {
  .searchbox__box-content {
    width: 50%;
    float: left;

    &:last-child {
      margin-right: 0;
    }
  }
}

.searchbox__box--checkin,
.searchbox__box--checkout {
  .hotel-input {
    display: block;
    border: 0;
  }
}


.searchbox-spinner {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
}

.searchbox-spinner__input {
  border: 0 !important;
  font-weight: bold;
  width: auto;
  text-align: right;
  max-width: 30px;
  color: #000 !important;

  &:focus {
    outline: none;
  }
}

.searchbox-spinner__title {
  margin-left: 3px;
}

.searchbox-spinner__decrement,
.searchbox-spinner__increment {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;

  transform: translateY(-50%);

  &:hover {
    background-color: #eee;
  }

  &::selection {
    background-color: transparent;
  }
}

.searchbox-spinner__decrement {
  left: 5px;
}

.searchbox-spinner__increment {
  right: 5px;
}



.searchbox-occupancy-info__item {

  &:not(:last-child):after {
    content: ','
  }
}

.searchbox-occupancy-info__number {
  font-weight: bold;
}


.searchbox-datepicker__input {
  display: none;
}

.searchbox__box-icon,
.searchbox__box-child {
  display: inline-block;
  vertical-align: middle;
}

.searchbox__box-child {
  width: calc(100% - 70px);
}
