$searchbox-bg-color:         #fff !default;
$searchbox-button-font-size: 1.1rem !default;
$searchbox-button-min-width: 130px !default;

/* Searchbox Layout */
.searchbox,
.searchbox__wrap,
.searchbox__box,
.searchbox__box-wrap,
.searchbox__box-icon,
.searchbox__box-child {
  box-sizing: border-box;
}

.searchbox__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 1px;
  position: relative;
  backface-visibility: hidden;
}

.searchbox__box {
  position: relative;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.searchbox__box--dates {
  display: flex;
  flex-wrap: wrap;

  .searchbox__box--checkin,
  .searchbox__box--checkout {
    flex: 1 1 50%;
  }
}

.searchbox__popup {
  display: none;
  position: absolute;
  z-index: 9994;
  width: 100%;

  &.open {
    display: block;
  }
}

/* Styles */
.searchbox.searchbox--horizontal {
  @include media-breakpoint-up(lg) {
    .searchbox__wrap {
      flex-direction: row;
    }
  }

  @include media-breakpoint-up(lg) {
    .searchbox__box {
      flex: 1 1 50%;
    }
  }
}
