.single-room_type .content-area {
  width: 100%;
}

.room__title {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 20px;
}

.room__section {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.room__section-title {
  margin-bottom: 20px;
}

.room-amenities,
.room-gallery {
  margin: 0;
  padding: 0;
  list-style: none;

  @include clearfix;
}

.room-amenity {
  width: 100%;
  display: block;
  float: left;

  @media (min-width: 996px) {
    width: 50%;
  }
}

.room-gallery {
  margin-left: -5px;
  margin-right: -5px;
}

.room-gallery__item {
  width: 100%;
  display: block;
  float: left;
  padding: 0 5px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 996px) {
    width: 25%;
  }
}