$primary-color: #2196f3;

@mixin pseudo-dashicons( $glyph: "\f333" ) {
  content: $glyph;
  font-family: 'Dashicons';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-indent: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}

[class^="awebooking-"],
[class^="awebooking-"]:after,
[class^="awebooking-"]:before {
  box-sizing: border-box;
}

@import "admin/utils";

@import "admin/room-type-metaboxes";

@import "admin/tooltip";
@import "admin/abkngcal";
@import "admin/booking-notes";
@import "admin/cmb2";
@import "admin/dialog";
@import "admin/edit-booking";
@import "admin/mini-calendar";
@import "admin/helpers";
@import "admin/month-calendar";
@import "admin/schedule-calendar";
@import "admin/create_reservation";
@import "admin/navigation";
