@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@function color-level($color, $level: 0) {
  $color-base: if($level > 0, $black, $white);

  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}
