@font-face {
	font-family: "awebooking-webfont";
	font-style: normal;
	font-weight: normal;
	src: url("awebooking-webfont.eot?3675bd5ec419e84cd2467c6ea0261aab?#iefix") format("embedded-opentype"),
url("awebooking-webfont.woff2?3675bd5ec419e84cd2467c6ea0261aab") format("woff2"),
url("awebooking-webfont.woff?3675bd5ec419e84cd2467c6ea0261aab") format("woff"),
url("awebooking-webfont.ttf?3675bd5ec419e84cd2467c6ea0261aab") format("truetype"),
url("awebooking-webfont.svg?3675bd5ec419e84cd2467c6ea0261aab#awebooking-webfont") format("svg");
}

.aficon {
	font-family: awebooking-webfont;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-rendering: optimizeLegibility;
	line-height: 1;
	vertical-align: middle;
	speak: none;
}

.aficon-add-circle-outline:before {
	content: "\f101";
}
.aficon-add-circle:before {
	content: "\f102";
}
.aficon-add:before {
	content: "\f103";
}
.aficon-airplane:before {
	content: "\f104";
}
.aficon-alarm:before {
	content: "\f105";
}
.aficon-alert:before {
	content: "\f106";
}
.aficon-arrow-back:before {
	content: "\f107";
}
.aficon-arrow-down:before {
	content: "\f108";
}
.aficon-arrow-dropdown-circle:before {
	content: "\f109";
}
.aficon-arrow-dropdown:before {
	content: "\f10a";
}
.aficon-arrow-dropleft-circle:before {
	content: "\f10b";
}
.aficon-arrow-dropleft:before {
	content: "\f10c";
}
.aficon-arrow-dropright-circle:before {
	content: "\f10d";
}
.aficon-arrow-dropright:before {
	content: "\f10e";
}
.aficon-arrow-dropup-circle:before {
	content: "\f10f";
}
.aficon-arrow-dropup:before {
	content: "\f110";
}
.aficon-arrow-forward:before {
	content: "\f111";
}
.aficon-arrow-up:before {
	content: "\f112";
}
.aficon-bath:before {
	content: "\f113";
}
.aficon-bbq-facilities:before {
	content: "\f114";
}
.aficon-beach:before {
	content: "\f115";
}
.aficon-bed:before {
	content: "\f116";
}
.aficon-beer:before {
	content: "\f117";
}
.aficon-bicycle:before {
	content: "\f118";
}
.aficon-boat:before {
	content: "\f119";
}
.aficon-body:before {
	content: "\f11a";
}
.aficon-briefcase:before {
	content: "\f11b";
}
.aficon-bus:before {
	content: "\f11c";
}
.aficon-business:before {
	content: "\f11d";
}
.aficon-cafe:before {
	content: "\f11e";
}
.aficon-calendar:before {
	content: "\f11f";
}
.aficon-call:before {
	content: "\f120";
}
.aficon-camera:before {
	content: "\f121";
}
.aficon-car:before {
	content: "\f122";
}
.aficon-card:before {
	content: "\f123";
}
.aficon-chatboxes:before {
	content: "\f124";
}
.aficon-checkmark-circle-outline:before {
	content: "\f125";
}
.aficon-checkmark-circle:before {
	content: "\f126";
}
.aficon-checkmark:before {
	content: "\f127";
}
.aficon-close-circle-outline:before {
	content: "\f128";
}
.aficon-close-circle:before {
	content: "\f129";
}
.aficon-close:before {
	content: "\f12a";
}
.aficon-cloud-done:before {
	content: "\f12b";
}
.aficon-cloud-download:before {
	content: "\f12c";
}
.aficon-cloud-upload:before {
	content: "\f12d";
}
.aficon-cloud:before {
	content: "\f12e";
}
.aficon-cloudy-night:before {
	content: "\f12f";
}
.aficon-cloudy:before {
	content: "\f130";
}
.aficon-desktop:before {
	content: "\f131";
}
.aficon-dogs-not-permitted:before {
	content: "\f132";
}
.aficon-dogs-permitted:before {
	content: "\f133";
}
.aficon-gift:before {
	content: "\f134";
}
.aficon-heart:before {
	content: "\f135";
}
.aficon-help-circle-outline:before {
	content: "\f136";
}
.aficon-help-circle:before {
	content: "\f137";
}
.aficon-home:before {
	content: "\f138";
}
.aficon-information-circle-outline:before {
	content: "\f139";
}
.aficon-information-circle:before {
	content: "\f13a";
}
.aficon-information:before {
	content: "\f13b";
}
.aficon-laptop:before {
	content: "\f13c";
}
.aficon-link:before {
	content: "\f13d";
}
.aficon-logo-bitcoin:before {
	content: "\f13e";
}
.aficon-logo-euro:before {
	content: "\f13f";
}
.aficon-logo-facebook:before {
	content: "\f140";
}
.aficon-logo-foursquare:before {
	content: "\f141";
}
.aficon-logo-google:before {
	content: "\f142";
}
.aficon-logo-instagram:before {
	content: "\f143";
}
.aficon-logo-pinterest:before {
	content: "\f144";
}
.aficon-logo-skype:before {
	content: "\f145";
}
.aficon-logo-slack:before {
	content: "\f146";
}
.aficon-logo-usd:before {
	content: "\f147";
}
.aficon-logo-whatsapp:before {
	content: "\f148";
}
.aficon-logo-wordpress:before {
	content: "\f149";
}
.aficon-logo-yahoo:before {
	content: "\f14a";
}
.aficon-male:before {
	content: "\f14c";
}
.aficon-man:before {
	content: "\f14d";
}
.aficon-moon:before {
	content: "\f14e";
}
.aficon-more:before {
	content: "\f14f";
}
.aficon-musical-note:before {
	content: "\f150";
}
.aficon-musical-notes:before {
	content: "\f151";
}
.aficon-partly-sunny:before {
	content: "\f152";
}
.aficon-rainy:before {
	content: "\f153";
}
.aficon-room-service:before {
	content: "\f154";
}
.aficon-search:before {
	content: "\f155";
}
.aficon-star-half:before {
	content: "\f156";
}
.aficon-star-outline:before {
	content: "\f157";
}
.aficon-star:before {
	content: "\f158";
}
.aficon-sunny:before {
	content: "\f159";
}
.aficon-thunderstorm:before {
	content: "\f15a";
}
.aficon-tv:before {
	content: "\f15b";
}
.aficon-umbrella:before {
	content: "\f15c";
}
.aficon-warning:before {
	content: "\f15d";
}
.aficon-water:before {
	content: "\f15e";
}
.aficon-wifi:before {
	content: "\f15f";
}
.aficon-wine:before {
	content: "\f160";
}
.aficon-woman:before {
	content: "\f161";
}
.aficon-baby:before {
	content: "\f162";
}
.aficon-menu:before {
	content: "\f163";
}
.aficon-people:before {
	content: "\f164";
}
.aficon-person:before {
	content: "\f165";
}
.aficon-trash:before {
	content: "\f166";
}
.aficon-sqm:before {
	content: "\f167";
}
