@font-face {
	font-family: "awebooking";
	src: url("awebooking.eot?a10c9e2509a4df6bed0421f39e3a1a3d?#iefix") format("embedded-opentype"),
url("awebooking.woff2?a10c9e2509a4df6bed0421f39e3a1a3d") format("woff2"),
url("awebooking.woff?a10c9e2509a4df6bed0421f39e3a1a3d") format("woff"),
url("awebooking.ttf?a10c9e2509a4df6bed0421f39e3a1a3d") format("truetype"),
url("awebooking.svg?a10c9e2509a4df6bed0421f39e3a1a3d#awebooking") format("svg");
}

._icon {
	line-height: 1;
}

._icon:before {
	font-family: awebooking !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.awebooking-bed:before {
	content: "\61";
}
.awebooking-building-alt:before {
	content: "\62";
}
.awebooking-building:before {
	content: "\63";
}
