$schedule-item-width:        60px;
$schedule-item-height:       35px;
$schedule-item-border-color: #eee;
$schedule-heading-height:    60px;
$schedule-sidebar-width:     280px;

/* Layout */
.awebooking-schedule {
  &,
  * {
    box-sizing: border-box;
  }

  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.awebooking-schedule__header {
}

.awebooking-schedule__aside {
  float: left;
  width: $schedule-sidebar-width;
  box-shadow: 3px 0px 0px 0px rgba(0, 0, 0, 0.02);

  ul, li {
    margin: 0;
    width: 100%;
  }
}

.awebooking-schedule__table {
  overflow-y: auto;
  overflow-x: visible;
  margin-left: $schedule-sidebar-width;
}

.awebooking-schedule__body {
  z-index: 100;
  position: relative;
}

.awebooking-schedule__row {
  position: relative;
  height: $schedule-item-height;
}

.awebooking-schedule__days,
.awebooking-schedule__events {
  display: flex;
}

.awebooking-schedule__days {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
}

.awebooking-schedule__column {
  margin: 0;
  position: relative;
  flex: 1 1 0%;

  width: $schedule-item-width;
  height: $schedule-item-height;
  min-width: $schedule-item-width;

  .awebooking-schedule__events > & {
    // flex: 1 1 auto;
    pointer-events: none;
  }
}

.awebooking-schedule__event {
  top: 0;
  left: ( $schedule-item-width / 2 );
  position: absolute;
  z-index: 35;

  height: 100%;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.2s ease;
}

.awebooking-schedule__menu {
  padding-top: $schedule-heading-height !important;
}

.awebooking-schedule__menu-item {
  padding: 8px 1em 0;
  height: $schedule-item-height;
  border-top: solid 1px $schedule-item-border-color;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.awebooking-schedule__day-heading,
.awebooking-schedule__row--divider,
.awebooking-schedule__row--divider .awebooking-schedule__column,
.awebooking-schedule__header > .awebooking-schedule__row {
  height: $schedule-heading-height;
}

.awebooking-schedule__marker {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 110;

  width: $schedule-item-width;
  height: $schedule-item-height;
  min-width: $schedule-item-width;
  pointer-events: none;

  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  border-left: solid 2px #2196F3;
  border-right: solid 2px #2196F3;
  background-color: rgba(33, 150, 243, 0.25);
}

/* Style */
.awebooking-schedule__day,
.awebooking-schedule__day-heading {
  font-size: 12px;
  text-align: center;
  border-top: 1px solid $schedule-item-border-color;
  border-left: 1px solid $schedule-item-border-color;

  &.today {
    background-color: #fffded;
  }
}

.awebooking-schedule__day-hover {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  border: 1px solid rgba(56,153,236,.5);

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(56,153,236,.5);
    top: 50%;
    left: 50%
  }

  &:before {
    width: 1px;
    height: 20px;
    margin-top: -10px
  }

  &:after {
    width: 20px;
    height: 1px;
    margin-left: -10px
  }

  .awebooking-schedule__day:hover > & {
    opacity: 1;
    visibility: visible;
  }
}

.awebooking-schedule__day-heading {
  color: #898989;
  padding-top: 12px;
  // border-bottom: solid 1px darken($schedule-item-border-color, 5%);

  .day,
  .weekday {
    display: block;
  }

  .weekday,{
    font-size: 14px;
  }

  .newmonth {
    background: #607D8B;
    z-index: 110;
    position: absolute;
    top: -5px;
    left: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding: 0 5px;
  }
}

.awebooking-schedule__event {
  &.unavailable {
    background: url('../img/blocked-pattern.png') rgba(black, .01);

    &:hover {
      background-color: rgba(black, .03);
    }
  }

  &.pending {
    background-color: rgba(#ffc107, 0.5);

    &:hover {
      background-color: rgba(#ffc107, 0.7);
    }
  }

  &.booked {
    background-color: rgba(#2196f3, 0.5);

    &:hover {
      background-color: rgba(#2196f3, 0.3);
    }
  }
}

div.awebooking-schedule__menu-item {
  height: $schedule-heading-height;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.awebooking-schedule__marker > span {
  color: #444;
  font-size: 12px;
  font-weight: 700;
  background: #fff;

  position: absolute;
  bottom: 5px;
  right: 5px;

  display: inline-block;
  padding: 3px 9px;
  border-radius: 15px;
}






.awebooking-schedule > .popper {
  z-index: 150;
  position: absolute;
  width: 180px;
  padding: 0;
  border-radius: 3px;

  > ul {
    margin: 0;
    text-align: left;
  }

  > ul > li {
    margin: 0;
    display: block;
  }

   > ul > li + li {
    position: relative;
    border-top: solid 1px #f1f1f1;
   }

  > ul > li > a {
    display: block;
    padding: 10px 15px 10px 40px;
    text-decoration: none;
    color: #444;
    font-size: 13px;
    font-weight: 500;
  }
}





.awebooking-schedule__action-icon {
  width: 20px;
  height: 20px;
  display: block;

  font-size: 18px;
  border-radius: 10px;
  background-color: #eee;

  position: absolute;
  top: 10px;
  left: 15px;

  a:hover > & {
    background-color: #eee;
  }
}

.awebooking-schedule__amount {
  font-size: 12px;
  display: inline-block;
  padding: 5px;

  right: 0;
  bottom: 0;
  position: absolute;

  > span.dashicons {
    display: inline-block;
  }
}

.awebooking-schedule__row--divider {
  .awebooking-schedule__day {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
  }
}
