// Keywords: .disabled, .focus, .hover, .open
// Default line-height: 1.25

$primary-color:    #f2f5f7;

$base-color:       #3d4852;
$border-color:     #dae1e7;
$background-color: #f2f5f7;

// Import mixins, functions, etc.
@import "utils/mixins";

/* Font-size base */
.awebooking-block {
  font-size: 1rem;
}

// Import components under `.awebooking-block` namespace
.awebooking-block {
  @import "shine/reset";
  @import "shine/form";
  @import "shine/button";
  @import "shine/table";

  @import "shine/card";
  @import "shine/datepicker";
  @import "shine/searchbox";
}

.awebooking-container {
  margin: auto;
  max-width: 1140px;
}

