// Core template Layout.
.abrs-searchbox,
.abrs-searchbox__wrap,
.abrs-searchbox__box,
.abrs-searchbox__box-wrap,
.abrs-searchbox__box-icon,
.abrs-searchbox__box-child {
  box-sizing: border-box;
}

// Input and Button need to wrap in the .abrs-searchbox
.abrs-searchbox {
  .abrs-searchbox__input {
    margin: 0;

    &[readonly] {
      background-color: #fff;
    }
  }

  .abrs-searchbox__submit:focus {
    outline: 0;
  }
}

.abrs-searchbox__box-label {
  font-size: 0.875em;
  font-weight: 600;
  display: block;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
}

// Vertical layout.
.abrs-searchbox--vertical {
  .abrs-searchbox__wrap > .abrs-searchbox__box,
  .abrs-searchbox__wrap > .abrs-searchbox__group {
    margin-bottom: 1em;
  }

  .abrs-searchbox__submit {
    width: 100%;
    display: block;
  }
}

// Horizontal layout.
.abrs-searchbox--horizontal {
  .abrs-searchbox__wrap {
    border-radius: 1px;
    border: solid 1px #dae1e7;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    background-color: #fff;
  }

  .abrs-searchbox__wrap > .abrs-searchbox__box,
  .abrs-searchbox__wrap > .abrs-searchbox__group {
    padding: 0.75em 0.75em 0;
  }

  .abrs-searchbox__wrap,
  .abrs-searchbox__group-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;

    width: 100%;
    min-height: 1px;
    position: relative;
    backface-visibility: hidden;
  }

  .abrs-searchbox__wrap > .abrs-searchbox__box,
  .abrs-searchbox__wrap > .abrs-searchbox__group,
  .abrs-searchbox__group-wrap .abrs-searchbox__box {
    flex-grow: 1;
    flex-basis: 0;
  }

  .abrs-searchbox__box-label {
    color: #9e9e9e;
  }

  .abrs-searchbox__input {
    color: inherit;
    width: 100%;
    display: block;

    padding: 0 0 0.75em 0;
    height: auto;
    box-shadow: none;
    border: none;
    background-color: transparent !important;

    &:focus {
      box-shadow: 0 2px 0 0 #333 !important;
    }
  }

  .abrs-searchbox__submit {
    align-self: center;
    margin-right: 0.75em;
  }
}

.DayPickerPopper {
  z-index: 10001;
}
