.awebooking .columns {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.awebooking .columns.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.awebooking .columns.no-gutters > .column,
.awebooking .columns.no-gutters > [class*="column-"] {
  padding-right: 0;
  padding-left: 0;
}

.awebooking .column,
.awebooking .column-1,
.awebooking .column-2,
.awebooking .column-3,
.awebooking .column-4,
.awebooking .column-5,
.awebooking .column-6,
.awebooking .column-7,
.awebooking .column-8,
.awebooking .column-9,
.awebooking .column-10,
.awebooking .column-11,
.awebooking .column-12,
.awebooking .column-sm,
.awebooking .column-sm-1,
.awebooking .column-sm-2,
.awebooking .column-sm-3,
.awebooking .column-sm-4,
.awebooking .column-sm-5,
.awebooking .column-sm-6,
.awebooking .column-sm-7,
.awebooking .column-sm-8,
.awebooking .column-sm-9,
.awebooking .column-sm-10,
.awebooking .column-sm-11,
.awebooking .column-sm-12,
.awebooking .column-md,
.awebooking .column-md-1,
.awebooking .column-md-2,
.awebooking .column-md-3,
.awebooking .column-md-4,
.awebooking .column-md-5,
.awebooking .column-md-6,
.awebooking .column-md-7,
.awebooking .column-md-8,
.awebooking .column-md-9,
.awebooking .column-md-10,
.awebooking .column-md-11,
.awebooking .column-md-12,
.awebooking .column-lg,
.awebooking .column-lg-1,
.awebooking .column-lg-2,
.awebooking .column-lg-3,
.awebooking .column-lg-4,
.awebooking .column-lg-5,
.awebooking .column-lg-6,
.awebooking .column-lg-7,
.awebooking .column-lg-8,
.awebooking .column-lg-9,
.awebooking .column-lg-10,
.awebooking .column-lg-11,
.awebooking .column-lg-12,
.awebooking .column-xl,
.awebooking .column-xl-1,
.awebooking .column-xl-2,
.awebooking .column-xl-3,
.awebooking .column-xl-4,
.awebooking .column-xl-5,
.awebooking .column-xl-6,
.awebooking .column-xl-7,
.awebooking .column-xl-8,
.awebooking .column-xl-9,
.awebooking .column-xl-10,
.awebooking .column-xl-11,
.awebooking .column-xl-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.awebooking .column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.awebooking .column-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.awebooking .column-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.awebooking .column-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.awebooking .column-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.awebooking .column-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.awebooking .column-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.awebooking .column-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.awebooking .column-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.awebooking .column-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.awebooking .column-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.awebooking .column-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.awebooking .column-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.awebooking .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.awebooking .form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.awebooking .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #cee0fd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(83, 146, 249, 0.25);
}

.awebooking .form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.awebooking .form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.awebooking .form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.awebooking .form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.awebooking .form-control:disabled,
.awebooking .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

.awebooking select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

.awebooking select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.awebooking select.form-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.awebooking select.form-select:focus {
  border-color: #cee0fd;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(206, 224, 253, 0.5);
}

.awebooking select.form-select:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.awebooking select.form-select[multiple],
.awebooking select.form-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.awebooking select.form-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.awebooking select.form-select::-ms-expand {
  opacity: 0;
}

.awebooking .button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #5392F9;
  border-color: #5392F9;
}

.awebooking .button:hover {
  color: #fff;
  background-color: #629bfa;
  border-color: #84b1fb;
}

.awebooking .button:focus,
.awebooking .button.focus {
  box-shadow: 0 0 0 0.2rem rgba(83, 146, 249, 0.5);
}

.awebooking .button.disabled,
.awebooking .button:disabled {
  color: #fff;
  background-color: #5392F9;
  border-color: #5392F9;
}

.awebooking .button:not(:disabled):not(.disabled):active,
.awebooking .button:not(:disabled):not(.disabled).active,
.show > .awebooking .button.dropdown-toggle {
  color: #fff;
  background-color: #2273f7;
  border-color: #156bf7;
}

.awebooking .button:not(:disabled):not(.disabled):active:focus,
.awebooking .button:not(:disabled):not(.disabled).active:focus,
.show > .awebooking .button.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(83, 146, 249, 0.5);
}

.awebooking .button:hover,
.awebooking .button:focus {
  text-decoration: none;
}

.awebooking .button:focus,
.awebooking .button.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(83, 146, 249, 0.25);
}

.awebooking .button.disabled,
.awebooking .button:disabled {
  opacity: 0.65;
}

.awebooking .button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.awebooking .button:not(:disabled):not(.disabled):active,
.awebooking .button:not(:disabled):not(.disabled).active {
  background-image: none;
}

.awebooking .button--secondary {
  color: #212529;
  background-color: #fff;
  border-color: #d7d7d7;
}

.awebooking .button--secondary:hover {
  color: #212529;
  background-color: #ececec;
  border-color: #bebebe;
}

.awebooking .button--secondary:focus,
.awebooking .button--secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(215, 215, 215, 0.5);
}

.awebooking .button--secondary.disabled,
.awebooking .button--secondary:disabled {
  color: #212529;
  background-color: #fff;
  border-color: #d7d7d7;
}

.awebooking .button--secondary:not(:disabled):not(.disabled):active,
.awebooking .button--secondary:not(:disabled):not(.disabled).active,
.show > .awebooking .button--secondary.dropdown-toggle {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #b7b7b7;
}

.awebooking .button--secondary:not(:disabled):not(.disabled):active:focus,
.awebooking .button--secondary:not(:disabled):not(.disabled).active:focus,
.show > .awebooking .button--secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(215, 215, 215, 0.5);
}

.notification p {
  margin-top: 0;
}

.notification p:last-child {
  margin-bottom: 0;
}

.awebooking-datepicker.flatpickr-calendar {
  margin-top: 9px;
}

.awebooking-datepicker.flatpickr-calendar:after {
  margin: 0 -9px;
  border-width: 9px;
}

.awebooking-datepicker.flatpickr-calendar:before {
  border-width: 10px;
  margin: 0 -10px;
}

.awebooking-datepicker.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #2196F3;
}

.awebooking-datepicker.flatpickr-calendar.arrowBottom:after {
  border-top-color: #fff;
}

.awebooking-datepicker .flatpickr-days,
.awebooking-datepicker .flatpickr-innerContainer {
  border: none;
}

.awebooking-datepicker .flatpickr-months .flatpickr-month {
  color: #fff;
}

.awebooking-datepicker .flatpickr-months .flatpickr-prev-month,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month,
.awebooking-datepicker .flatpickr-months .flatpickr-month {
  height: 35px;
  box-sizing: border-box;
}

.awebooking-datepicker .flatpickr-months .flatpickr-prev-month svg,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month svg,
.awebooking-datepicker .flatpickr-months .flatpickr-prev-month:hover svg,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month:hover svg {
  fill: #fff;
}

.awebooking-datepicker .flatpickr-months .flatpickr-prev-month:hover,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.25s ease;
}

.awebooking-datepicker .flatpickr-current-month span.cur-month,
.awebooking-datepicker .flatpickr-current-month input.cur-year {
  font-weight: 400;
  font-size: 18px;
}

.awebooking-datepicker .flatpickr-current-month input.cur-year {
  box-shadow: none;
}

.awebooking-datepicker .flatpickr-current-month span.cur-month:hover {
  background-color: transparent;
}

.awebooking-datepicker .numInputWrapper:hover {
  background-color: transparent;
}

.awebooking-datepicker .flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(255, 255, 255, 0.9);
}

.awebooking-datepicker .flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(255, 255, 255, 0.9);
}

.awebooking-datepicker span.flatpickr-weekday {
  font-weight: 400;
  color: #fff;
}

.awebooking-datepicker .flatpickr-weekdays,
.awebooking-datepicker .flatpickr-months .flatpickr-month,
.awebooking-datepicker span.flatpickr-weekday {
  background: #2196F3;
}

.awebooking-datepicker .flatpickr-day.today {
  border-color: #2196F3;
}

.awebooking-datepicker .flatpickr-day.today:hover,
.awebooking-datepicker .flatpickr-day.today:focus {
  color: inherit;
  background: #eee;
  border-color: #2196F3;
}

.awebooking-datepicker .flatpickr-day:hover,
.awebooking-datepicker .flatpickr-day.prevMonthDay:hover,
.awebooking-datepicker .flatpickr-day.nextMonthDay:hover,
.awebooking-datepicker .flatpickr-day:focus,
.awebooking-datepicker .flatpickr-day.prevMonthDay:focus,
.awebooking-datepicker .flatpickr-day.nextMonthDay:focus {
  background: #eee;
  border-color: #eee;
}

.awebooking-datepicker .flatpickr-day.inRange,
.awebooking-datepicker .flatpickr-day.prevMonthDay.inRange,
.awebooking-datepicker .flatpickr-day.nextMonthDay.inRange,
.awebooking-datepicker .flatpickr-day.today.inRange,
.awebooking-datepicker .flatpickr-day.prevMonthDay.today.inRange,
.awebooking-datepicker .flatpickr-day.nextMonthDay.today.inRange {
  background: #e2f2ff;
  border-color: #e2f2ff;
}

.awebooking-datepicker .flatpickr-day.inRange {
  border-radius: 0;
  box-shadow: -5px 0 0 #e2f2ff, 5px 0 0 #e2f2ff;
}

.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  box-shadow: 0 0 0 #e2f2ff, 5px 0 0 #e2f2ff;
}

.awebooking-datepicker .flatpickr-day.selected,
.awebooking-datepicker .flatpickr-day.startRange,
.awebooking-datepicker .flatpickr-day.endRange,
.awebooking-datepicker .flatpickr-day.selected.inRange,
.awebooking-datepicker .flatpickr-day.startRange.inRange,
.awebooking-datepicker .flatpickr-day.endRange.inRange,
.awebooking-datepicker .flatpickr-day.selected:focus,
.awebooking-datepicker .flatpickr-day.startRange:focus,
.awebooking-datepicker .flatpickr-day.endRange:focus,
.awebooking-datepicker .flatpickr-day.selected:hover,
.awebooking-datepicker .flatpickr-day.startRange:hover,
.awebooking-datepicker .flatpickr-day.endRange:hover,
.awebooking-datepicker .flatpickr-day.selected.prevMonthDay,
.awebooking-datepicker .flatpickr-day.startRange.prevMonthDay,
.awebooking-datepicker .flatpickr-day.endRange.prevMonthDay,
.awebooking-datepicker .flatpickr-day.selected.nextMonthDay,
.awebooking-datepicker .flatpickr-day.startRange.nextMonthDay,
.awebooking-datepicker .flatpickr-day.endRange.nextMonthDay {
  color: #fff;
  border-color: #2196F3;
  background: #2196F3;
}

.awebooking-datepicker .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.awebooking-datepicker .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.awebooking-datepicker .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: -10px 0 0 #2196F3;
}

.awebooking-datepicker .flatpickr-day.selected.startRange + .endRange,
.awebooking-datepicker .flatpickr-day.startRange.startRange + .endRange,
.awebooking-datepicker .flatpickr-day.endRange.startRange + .endRange {
  box-shadow: -10px 0 0 #2196F3;
}

.awebooking-datepicker .flatpickr-day.week.selected {
  box-shadow: -5px 0 0 #2196F3, 5px 0 0 #2196F3;
}

.awebooking-datepicker .flatpickr-calendar.open {
  z-index: 999999;
}

.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
  box-shadow: -5px 0 0 #e2f2ff, 2px 0 0 #e2f2ff !important;
}

.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+7) {
  box-shadow: -5px 0 0 #e2f2ff, 5px 0 0 #e2f2ff !important;
}

.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  box-shadow: -2px 0 0 #e2f2ff, 5px 0 0 #e2f2ff !important;
}

.awebooking-datepicker .flatpickr-calendar.multiMonth .dayContainer:not(:last-child) {
  border-right: solid 1px #eee;
}

.awebooking-datepicker .flatpickr-calendar.multiMonth .dayContainer + .dayContainer {
  box-shadow: -1px 0 0 #eee;
}

.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-month:first-of-type {
  border-top-right-radius: 0;
}

.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-month:last-of-type {
  border-top-left-radius: 0;
}

.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-month:not(:first-of-type):not(:last-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.searchbox {
  width: 100%;
  box-sizing: border-box;
}

.searchbox__spacer {
  flex-grow: 1;
}

.searchbox__wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.searchbox__box {
  position: relative;
  box-sizing: border-box;
}

.searchbox__box-content {
  position: relative;
  background-color: #fff;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  -webkit-perspective: 500px;
  perspective: 500px;
  border-right: 1px solid #eee;
}

.searchbox__popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  padding: 10px;
  -webkit-transform: translateY(10px) rotateX(-10deg);
  transform: translateY(10px) rotateX(-10deg);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
}

.searchbox__popup.searchbox__popup--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(10px) rotateX(0);
  transform: translateY(10px) rotateX(0);
}

/* Horizontal layout */

.searchbox--horizontal .searchbox__wrapper {
  flex-direction: row;
}

.searchbox--vertical .searchbox__wrapper {
  flex-direction: column;
}

.searchbox__wrapper-4 .searchbox__box--button {
  width: 20%;
}

.searchbox__wrapper-4 .searchbox__box--occupancy {
  width: 30%;
}

.searchbox__wrapper-4 .searchbox__box--datepicker {
  width: 55%;
}

.searchbox__box--datepicker .searchbox__box-content {
  width: 50%;
  float: left;
}

.searchbox__box--datepicker .searchbox__box-content:last-child {
  margin-right: 0;
}

.searchbox__box--checkin .hotel-input,
.searchbox__box--checkout .hotel-input {
  display: block;
  font-weight: bold;
  border: 0;
}

.searchbox__box--checkin .hotel-input:focus,
.searchbox__box--checkout .hotel-input:focus {
  outline: none;
}

.searchbox__submit {
  width: 100%;
  height: 100%;
  border: 0;
  cursor: pointer;
}

.searchbox-spinner {
  display: block;
  position: relative;
  padding: 0 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.searchbox-spinner__output {
  font-weight: bold;
}

.searchbox-spinner__input {
  display: none;
}

.searchbox-spinner__decrement,
.searchbox-spinner__increment {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.searchbox-spinner__decrement:hover,
.searchbox-spinner__increment:hover {
  background-color: #eee;
}

.searchbox-spinner__decrement::-moz-selection,
.searchbox-spinner__increment::-moz-selection {
  background-color: transparent;
}

.searchbox-spinner__decrement::selection,
.searchbox-spinner__increment::selection {
  background-color: transparent;
}

.searchbox-spinner__decrement {
  left: 5px;
}

.searchbox-spinner__increment {
  right: 5px;
}

.searchbox-occupancy-info__item:not(:last-child):after {
  content: ',';
}

.searchbox-occupancy-info__number {
  font-weight: bold;
}

.searchbox-datepicker__input {
  display: none;
}

.hotel-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.hotel-content__main,
.hotel-content__aside {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.hotel-content__main {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.hotel-content__aside {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.box {
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
  display: block;
  padding: 1rem;
}

.checkin-checkout-details {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.checkin-checkout-details___item {
  display: table-cell;
}

.checkin-checkout-details___item.tb-width-40 {
  width: 40%;
}

.checkin-checkout-details___item.tb-width-20 {
  width: 20%;
}

.checkin-checkout-details__subtitle {
  display: block;
  margin-bottom: 8px;
}

.checkin-checkout-details__info {
  position: relative;
  padding-left: 60px;
  margin-bottom: 5px;
}

.checkin-checkout-details__info .meta-day {
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checkin-checkout-details__info .meta-day-week,
.checkin-checkout-details__info .meta-month-year {
  display: block;
}

.divider-solid-bottom {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #cbd3db;
  margin: 20px 0;
}

.roomdetails-room {
  margin: 0;
}

.roomdetails-room__title {
  width: 115px;
  float: left;
  clear: left;
  font-size: 14px;
}

.roomdetails-room__text {
  margin-left: 125px;
}

.roomdetails-room__text:after {
  content: '';
  display: table;
  clear: both;
}

.roomdetails-room__title,
.roomdetails-room__text {
  margin-bottom: 5px;
}

.rooms.rooms--booked {
  margin-bottom: 30px;
}

.rooms.rooms--booked .mini-room--booked {
  font-size: 20px;
}

.rooms.rooms--booked .mini-room__title {
  width: 124px;
  float: left;
  clear: left;
  font-weight: bold;
  padding-right: 5px;
}

.box .roomdetails-price {
  margin-left: -1rem;
  margin-right: -1rem;
}

.roomdetails-price dt {
  width: 220px;
  float: left;
  clear: left;
  font-size: 14px;
  font-weight: normal;
}

.roomdetails-price dd {
  margin: 0;
  margin-left: 230px;
  text-align: right;
}

.roomdetails-price dd.roomdetails-price-vat {
  text-transform: uppercase;
}

.roomdetails-price-base {
  border-bottom: 1px solid #cbd3db;
  padding: 15px;
  margin: 0;
}

.roomdetails-price-base__title,
.roomdetails-price-base__text {
  margin-bottom: 5px;
}

.roomdetails-price-footer {
  background-color: #F9F9FA;
  padding: 15px;
}

.roomdetails-price-total {
  margin: 0;
  margin-bottom: 5px;
}

.roomdetails-price-total dt,
.roomdetails-price-total dd {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}

.roomdetails-price-footer__info {
  font-size: 12px;
  margin: 0;
}

.roomdetails-price-footer__info-more {
  border-top: 1px dotted #cbd3db;
  margin: 10px 0 0;
  padding-top: 5px;
}

body {
  background-color: #f7f7f7 !important;
}

.site-content {
  width: 1200px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .awebooking .column-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .awebooking .column-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .awebooking .column-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .awebooking .column-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .awebooking .column-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .awebooking .column-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .awebooking .column-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .awebooking .column-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .awebooking .column-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .awebooking .column-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .awebooking .column-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .awebooking .column-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .awebooking .column-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .awebooking .column-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .awebooking .column-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .awebooking .column-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .awebooking .column-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .awebooking .column-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .awebooking .column-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .awebooking .column-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .awebooking .column-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .awebooking .column-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .awebooking .column-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .awebooking .column-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .awebooking .column-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .awebooking .column-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .awebooking .column-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .awebooking .column-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .awebooking .column-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .awebooking .column-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .awebooking .column-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .awebooking .column-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .awebooking .column-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .awebooking .column-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .awebooking .column-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .awebooking .column-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .awebooking .column-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .awebooking .column-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .awebooking .column-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .awebooking .column-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .awebooking .column-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .awebooking .column-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .awebooking .column-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .awebooking .column-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .awebooking .column-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .awebooking .column-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .awebooking .column-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .awebooking .column-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .awebooking .column-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .awebooking .column-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .awebooking .column-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .awebooking .column-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .awebooking .form-control {
    transition: none;
  }

  .awebooking .button {
    transition: none;
  }
}
/*# sourceMappingURL=awebooking-colour.css.map */
