@charset "UTF-8";
.awebooking-container {
  margin: auto;
  max-width: 1140px;
}

/* Font-size base */
.awebooking-block {
  font-size: 1rem;
}
.awebooking-block form {
  margin-bottom: 0;
}

.awebooking-block,
.awebooking-page {
  /* Buttons */
  /* =============================================================
   * THEME
   * ============================================================*/
}
.awebooking-block ol,
.awebooking-block ul,
.awebooking-page ol,
.awebooking-page ul {
  margin: 0;
}
.awebooking-block button:focus,
.awebooking-page button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.awebooking-block table,
.awebooking-page table {
  border-collapse: collapse;
}
.awebooking-block img,
.awebooking-page img {
  max-width: 100%;
  height: auto;
}
.awebooking-block textarea,
.awebooking-page textarea {
  overflow: auto;
  resize: vertical;
}
.awebooking-block [hidden],
.awebooking-page [hidden] {
  display: none;
}
.awebooking-block .form-input,
.awebooking-page .form-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: calc(2.25em + 2px);
  line-height: 1.25;
  padding: 0.5em 0.75em;
  font-size: 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  transition: border 0.3s ease;
}
.awebooking-block .form-input:focus,
.awebooking-page .form-input:focus {
  outline: 0;
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.awebooking-block .form-input::-webkit-input-placeholder,
.awebooking-page .form-input::-webkit-input-placeholder {
  opacity: 0.5;
  color: inherit;
}
.awebooking-block .form-input:-ms-input-placeholder,
.awebooking-page .form-input:-ms-input-placeholder {
  opacity: 0.5;
  color: inherit;
}
.awebooking-block .form-input::-ms-input-placeholder,
.awebooking-page .form-input::-ms-input-placeholder {
  opacity: 0.5;
  color: inherit;
}
.awebooking-block .form-input::placeholder,
.awebooking-page .form-input::placeholder {
  opacity: 0.5;
  color: inherit;
}
.awebooking-block .form-input:disabled, .awebooking-block .form-input[readonly],
.awebooking-page .form-input:disabled,
.awebooking-page .form-input[readonly] {
  opacity: 1;
  background-color: #e9ecef;
}
.awebooking-block .form-input::-ms-expand,
.awebooking-page .form-input::-ms-expand {
  border: 0;
  background-color: transparent;
}
.awebooking-block select.form-input[size], .awebooking-block select.form-input[multiple],
.awebooking-page select.form-input[size],
.awebooking-page select.form-input[multiple] {
  height: auto;
}
.awebooking-block select.form-input:focus::-ms-value,
.awebooking-page select.form-input:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
.awebooking-block textarea.form-input,
.awebooking-page textarea.form-input {
  height: auto;
}
.awebooking-block .button,
.awebooking-page .button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.25;
  font-size: 1em;
  padding: 0.5em 1.5em;
  font-weight: 400;
  border-radius: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  transition: background-color 0.3s ease;
  color: #3d4852;
  border: solid 1px #dae1e7;
  background: #fff;
}
.awebooking-block .button:hover, .awebooking-block .button:focus,
.awebooking-page .button:hover,
.awebooking-page .button:focus {
  text-decoration: none;
  background-color: #f2f5f7;
}
.awebooking-block .button:focus, .awebooking-block .button.focus,
.awebooking-page .button:focus,
.awebooking-page .button.focus {
  box-shadow: none;
}
.awebooking-block .button.disabled, .awebooking-block .button:disabled,
.awebooking-page .button.disabled,
.awebooking-page .button:disabled {
  opacity: 0.5;
  box-shadow: none;
}
.awebooking-block .button:not(:disabled):not(.disabled),
.awebooking-page .button:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.awebooking-block .button--rounded,
.awebooking-page .button--rounded {
  border-radius: 999px;
}
.awebooking-block .button--primary,
.awebooking-page .button--primary {
  color: #fff;
  background-color: #2196f3;
  border-color: transparent;
}
.awebooking-block .button--primary:hover, .awebooking-block .button--primary:focus,
.awebooking-page .button--primary:hover,
.awebooking-page .button--primary:focus {
  color: #fff;
  background-color: #43a6f5;
  border-color: transparent;
}
.awebooking-block .button--link,
.awebooking-block .button--link:hover,
.awebooking-block .button--link:focus,
.awebooking-page .button--link,
.awebooking-page .button--link:hover,
.awebooking-page .button--link:focus {
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
}
.awebooking-block .table,
.awebooking-page .table {
  width: 100%;
  font-size: 1em;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 1em;
}
.awebooking-block .table th,
.awebooking-block .table td,
.awebooking-page .table th,
.awebooking-page .table td {
  line-height: 1.25;
  vertical-align: top;
  padding: 0.85em 1em;
  border-top: 1px solid #edf0f3;
}
.awebooking-block .table thead th,
.awebooking-page .table thead th {
  font-weight: 600;
  font-size: 0.875em;
  text-transform: uppercase;
  vertical-align: bottom;
  background-color: #f2f5f7;
  border-bottom: solid 1px #dee2e6;
}
.awebooking-block .table tbody td,
.awebooking-block .table tbody th,
.awebooking-page .table tbody td,
.awebooking-page .table tbody th {
  background-color: #fff;
}
.awebooking-block .table-container,
.awebooking-page .table-container {
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.awebooking-block .vivre-card,
.awebooking-page .vivre-card {
  padding: 2.5em 0;
  text-align: center;
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}
.awebooking-block .vivre-card__icon,
.awebooking-page .vivre-card__icon {
  margin-bottom: 1em;
}
.awebooking-block .vivre-card__icon img,
.awebooking-page .vivre-card__icon img {
  display: inline-block;
}
.awebooking-block .vivre-card__title,
.awebooking-page .vivre-card__title {
  font-weight: 600;
  margin-bottom: 5px;
}
.awebooking-block .vivre-card__text,
.awebooking-page .vivre-card__text {
  color: #898989;
  margin-top: 0;
  margin-bottom: 0;
}
.awebooking-block .datepicker,
.awebooking-page .datepicker {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  width: 260px;
  z-index: 1;
}
.awebooking-block .datepicker table th,
.awebooking-page .datepicker table th {
  padding: 0;
}
.awebooking-block .datepicker__inner,
.awebooking-page .datepicker__inner {
  overflow: hidden;
}
.awebooking-block .datepicker__month,
.awebooking-page .datepicker__month {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
.awebooking-block .datepicker__month--month2,
.awebooking-page .datepicker__month--month2 {
  display: none;
}
.awebooking-block .datepicker__month-day--valid,
.awebooking-page .datepicker__month-day--valid {
  cursor: pointer;
}
.awebooking-block .datepicker__month-day--lastMonth,
.awebooking-block .datepicker__month-day--nextMonth,
.awebooking-page .datepicker__month-day--lastMonth,
.awebooking-page .datepicker__month-day--nextMonth {
  visibility: hidden;
}
.awebooking-block .datepicker__month-button,
.awebooking-page .datepicker__month-button {
  cursor: pointer;
}
.awebooking-block .datepicker__info--feedback,
.awebooking-page .datepicker__info--feedback {
  display: none;
}
.awebooking-block .datepicker__info--error,
.awebooking-block .datepicker__info--help,
.awebooking-page .datepicker__info--error,
.awebooking-page .datepicker__info--help {
  display: block;
}
.awebooking-block .datepicker__close-button,
.awebooking-page .datepicker__close-button {
  cursor: pointer;
}
.awebooking-block .datepicker__tooltip,
.awebooking-page .datepicker__tooltip {
  position: absolute;
}
.awebooking-block .datepicker,
.awebooking-page .datepicker {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 8px 8px 40px 5px rgba(0, 0, 0, 0.08);
  color: #484c55;
  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.awebooking-block .datepicker__inner,
.awebooking-page .datepicker__inner {
  padding: 20px;
}
.awebooking-block .datepicker__month,
.awebooking-page .datepicker__month {
  font-size: 12px;
}
.awebooking-block .datepicker__month-caption,
.awebooking-page .datepicker__month-caption {
  border-bottom: 1px solid #dcdcdc;
  height: 2.5em;
  vertical-align: middle;
}
.awebooking-block .datepicker__month-name,
.awebooking-page .datepicker__month-name {
  text-transform: uppercase;
}
.awebooking-block .datepicker__week-days,
.awebooking-page .datepicker__week-days {
  height: 2em;
  vertical-align: middle;
}
.awebooking-block .datepicker__week-name,
.awebooking-page .datepicker__week-name {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.awebooking-block .datepicker__month-day,
.awebooking-page .datepicker__month-day {
  color: #acb2c1;
  padding: 9px 7px;
}
.awebooking-block .datepicker__month-day--no-check-in,
.awebooking-page .datepicker__month-day--no-check-in {
  position: relative;
}
.awebooking-block .datepicker__month-day--no-check-in:after,
.awebooking-page .datepicker__month-day--no-check-in:after {
  background-color: rgba(255, 0, 0, 0.1);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 50%;
  top: 0;
  z-index: -1;
}
.awebooking-block .datepicker__month-day--no-check-out,
.awebooking-page .datepicker__month-day--no-check-out {
  position: relative;
}
.awebooking-block .datepicker__month-day--no-check-out:after,
.awebooking-page .datepicker__month-day--no-check-out:after {
  background-color: rgba(255, 0, 0, 0.1);
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.awebooking-block .datepicker__month-day--invalid,
.awebooking-page .datepicker__month-day--invalid {
  color: #e8ebf4;
}
.awebooking-block .datepicker__month-day--disabled,
.awebooking-page .datepicker__month-day--disabled {
  color: #e8ebf4;
  position: relative;
}
.awebooking-block .datepicker__month-day--disabled:after,
.awebooking-page .datepicker__month-day--disabled:after {
  content: "\D7";
  left: 50%;
  position: absolute;
  color: red;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.awebooking-block .datepicker__month-day--day-of-week-disabled,
.awebooking-page .datepicker__month-day--day-of-week-disabled {
  background-color: rgba(232, 235, 244, 0.5);
}
.awebooking-block .datepicker__month-day--selected,
.awebooking-page .datepicker__month-day--selected {
  background-color: rgba(116, 107, 253, 0.2);
  color: #fff;
}
.awebooking-block .datepicker__month-day--selected:after,
.awebooking-page .datepicker__month-day--selected:after {
  display: none;
}
.awebooking-block .datepicker__month-day--hovering,
.awebooking-page .datepicker__month-day--hovering {
  background-color: rgba(116, 107, 253, 0.3);
  color: #fff;
}
.awebooking-block .datepicker__month-day--today,
.awebooking-page .datepicker__month-day--today {
  background-color: #484c55;
  color: #fff;
}
.awebooking-block .datepicker__month-day--first-day-selected,
.awebooking-block .datepicker__month-day--last-day-selected,
.awebooking-page .datepicker__month-day--first-day-selected,
.awebooking-page .datepicker__month-day--last-day-selected {
  background-color: #746bfd;
  color: #fff;
}
.awebooking-block .datepicker__month-day--last-day-selected:after,
.awebooking-page .datepicker__month-day--last-day-selected:after {
  content: none;
}
.awebooking-block .datepicker__month-button,
.awebooking-page .datepicker__month-button {
  background-color: #d6dae5;
  border-radius: 4px;
  color: #9da6b8;
  display: inline-block;
  padding: 5px 10px;
}
.awebooking-block .datepicker__month-button:hover,
.awebooking-page .datepicker__month-button:hover {
  background-color: #746bfd;
  color: #fff;
}
.awebooking-block .datepicker__topbar,
.awebooking-page .datepicker__topbar {
  margin-bottom: 20px;
  position: relative;
}
.awebooking-block .datepicker__info-text,
.awebooking-page .datepicker__info-text {
  font-size: 13px;
}
.awebooking-block .datepicker__info--selected,
.awebooking-page .datepicker__info--selected {
  font-size: 11px;
  text-transform: uppercase;
}
.awebooking-block .datepicker__info--selected-label,
.awebooking-page .datepicker__info--selected-label {
  color: #acb2c1;
}
.awebooking-block .datepicker__info-text--selected-days,
.awebooking-page .datepicker__info-text--selected-days {
  font-size: 11px;
  font-style: normal;
}
.awebooking-block .datepicker__info--error,
.awebooking-page .datepicker__info--error {
  color: red;
  font-size: 13px;
  font-style: italic;
}
.awebooking-block .datepicker__info--help,
.awebooking-page .datepicker__info--help {
  color: #acb2c1;
  font-style: italic;
}
.awebooking-block .datepicker__close-button,
.awebooking-page .datepicker__close-button {
  background-color: #746bfd;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  font-size: 10px;
  color: #fff;
  margin-top: 20px;
  padding: 7px 13px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}
.awebooking-block .datepicker__close-button:hover,
.awebooking-page .datepicker__close-button:hover {
  background-color: #484c55;
  color: #fff;
}
.awebooking-block .datepicker__tooltip,
.awebooking-page .datepicker__tooltip {
  background-color: #ffe684;
  border-radius: 2px;
  font-size: 11px;
  margin-top: -5px;
  padding: 5px 10px;
}
.awebooking-block .datepicker__tooltip:after,
.awebooking-page .datepicker__tooltip:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffe684;
  bottom: -4px;
  content: "";
  left: 50%;
  margin-left: -4px;
  position: absolute;
}
.awebooking-block .searchbox,
.awebooking-block .searchbox__wrap,
.awebooking-block .searchbox__box,
.awebooking-block .searchbox__box-wrap,
.awebooking-block .searchbox__box-icon,
.awebooking-block .searchbox__box-child,
.awebooking-page .searchbox,
.awebooking-page .searchbox__wrap,
.awebooking-page .searchbox__box,
.awebooking-page .searchbox__box-wrap,
.awebooking-page .searchbox__box-icon,
.awebooking-page .searchbox__box-child {
  box-sizing: border-box;
}
.awebooking-block .searchbox .searchbox__input,
.awebooking-page .searchbox .searchbox__input {
  margin: 0;
}
.awebooking-block .searchbox .searchbox__input[readonly],
.awebooking-page .searchbox .searchbox__input[readonly] {
  background-color: #fff;
}
.awebooking-block .searchbox .searchbox__submit:focus,
.awebooking-page .searchbox .searchbox__submit:focus {
  outline: 0;
}
.awebooking-block .searchbox__box-label,
.awebooking-page .searchbox__box-label {
  font-size: 0.875em;
  font-weight: 600;
  display: block;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.awebooking-block .searchbox--vertical .searchbox__wrap > .searchbox__box,
.awebooking-block .searchbox--vertical .searchbox__wrap > .searchbox__group,
.awebooking-page .searchbox--vertical .searchbox__wrap > .searchbox__box,
.awebooking-page .searchbox--vertical .searchbox__wrap > .searchbox__group {
  margin-bottom: 1em;
}
.awebooking-block .searchbox--vertical .searchbox__submit,
.awebooking-page .searchbox--vertical .searchbox__submit {
  width: 100%;
  display: block;
}
.awebooking-block .searchbox--horizontal .searchbox__wrap,
.awebooking-page .searchbox--horizontal .searchbox__wrap {
  border-radius: 1px;
  border: solid 1px #dae1e7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #fff;
}
.awebooking-block .searchbox--horizontal .searchbox__wrap > .searchbox__box,
.awebooking-block .searchbox--horizontal .searchbox__wrap > .searchbox__group,
.awebooking-page .searchbox--horizontal .searchbox__wrap > .searchbox__box,
.awebooking-page .searchbox--horizontal .searchbox__wrap > .searchbox__group {
  padding: 0.75em 0.75em 0;
}
.awebooking-block .searchbox--horizontal .searchbox__wrap,
.awebooking-block .searchbox--horizontal .searchbox__group-wrap,
.awebooking-page .searchbox--horizontal .searchbox__wrap,
.awebooking-page .searchbox--horizontal .searchbox__group-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
  min-height: 1px;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.awebooking-block .searchbox--horizontal .searchbox__wrap > .searchbox__box,
.awebooking-block .searchbox--horizontal .searchbox__wrap > .searchbox__group,
.awebooking-block .searchbox--horizontal .searchbox__group-wrap .searchbox__box,
.awebooking-page .searchbox--horizontal .searchbox__wrap > .searchbox__box,
.awebooking-page .searchbox--horizontal .searchbox__wrap > .searchbox__group,
.awebooking-page .searchbox--horizontal .searchbox__group-wrap .searchbox__box {
  flex-grow: 1;
  flex-basis: 0;
}
.awebooking-block .searchbox--horizontal .searchbox__box-label,
.awebooking-page .searchbox--horizontal .searchbox__box-label {
  color: #9e9e9e;
}
.awebooking-block .searchbox--horizontal .searchbox__input,
.awebooking-page .searchbox--horizontal .searchbox__input {
  color: inherit;
  width: 100%;
  display: block;
  padding: 0 0 0.75em 0;
  height: auto;
  box-shadow: none;
  border: none;
  background-color: transparent !important;
}
.awebooking-block .searchbox--horizontal .searchbox__input:focus,
.awebooking-page .searchbox--horizontal .searchbox__input:focus {
  box-shadow: 0 2px 0 0 #333 !important;
}
.awebooking-block .searchbox--horizontal .searchbox__submit,
.awebooking-page .searchbox--horizontal .searchbox__submit {
  align-self: center;
  margin-right: 0.75em;
}
.awebooking-block .DayPickerPopper,
.awebooking-page .DayPickerPopper {
  z-index: 10001;
}
.awebooking-block .searchbox,
.awebooking-block .searchbox__wrap,
.awebooking-block .searchbox__box,
.awebooking-block .searchbox__box-wrap,
.awebooking-block .searchbox__box-icon,
.awebooking-block .searchbox__box-child,
.awebooking-page .searchbox,
.awebooking-page .searchbox__wrap,
.awebooking-page .searchbox__box,
.awebooking-page .searchbox__box-wrap,
.awebooking-page .searchbox__box-icon,
.awebooking-page .searchbox__box-child {
  box-sizing: border-box;
}
.awebooking-block .searchbox .searchbox__input,
.awebooking-page .searchbox .searchbox__input {
  margin: 0;
}
.awebooking-block .searchbox .searchbox__input[readonly],
.awebooking-page .searchbox .searchbox__input[readonly] {
  background-color: #fff;
}
.awebooking-block .searchbox .searchbox__submit:focus,
.awebooking-page .searchbox .searchbox__submit:focus {
  outline: 0;
}
.awebooking-block .searchbox__box-label,
.awebooking-page .searchbox__box-label {
  font-size: 0.875em;
  font-weight: 600;
  display: block;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.awebooking-block .searchbox--vertical .searchbox__wrap > .searchbox__box,
.awebooking-block .searchbox--vertical .searchbox__wrap > .searchbox__group,
.awebooking-page .searchbox--vertical .searchbox__wrap > .searchbox__box,
.awebooking-page .searchbox--vertical .searchbox__wrap > .searchbox__group {
  margin-bottom: 1em;
}
.awebooking-block .searchbox--vertical .searchbox__submit,
.awebooking-page .searchbox--vertical .searchbox__submit {
  width: 100%;
  display: block;
}
.awebooking-block .searchbox--horizontal .searchbox__wrap,
.awebooking-page .searchbox--horizontal .searchbox__wrap {
  border-radius: 1px;
  border: solid 1px #dae1e7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #fff;
}
.awebooking-block .searchbox--horizontal .searchbox__wrap > .searchbox__box,
.awebooking-block .searchbox--horizontal .searchbox__wrap > .searchbox__group,
.awebooking-page .searchbox--horizontal .searchbox__wrap > .searchbox__box,
.awebooking-page .searchbox--horizontal .searchbox__wrap > .searchbox__group {
  padding: 0.75em 0.75em 0;
}
.awebooking-block .searchbox--horizontal .searchbox__wrap,
.awebooking-block .searchbox--horizontal .searchbox__group-wrap,
.awebooking-page .searchbox--horizontal .searchbox__wrap,
.awebooking-page .searchbox--horizontal .searchbox__group-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
  min-height: 1px;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.awebooking-block .searchbox--horizontal .searchbox__wrap > .searchbox__box,
.awebooking-block .searchbox--horizontal .searchbox__wrap > .searchbox__group,
.awebooking-block .searchbox--horizontal .searchbox__group-wrap .searchbox__box,
.awebooking-page .searchbox--horizontal .searchbox__wrap > .searchbox__box,
.awebooking-page .searchbox--horizontal .searchbox__wrap > .searchbox__group,
.awebooking-page .searchbox--horizontal .searchbox__group-wrap .searchbox__box {
  flex-grow: 1;
  flex-basis: 0;
}
.awebooking-block .searchbox--horizontal .searchbox__box-label,
.awebooking-page .searchbox--horizontal .searchbox__box-label {
  color: #9e9e9e;
}
.awebooking-block .searchbox--horizontal .searchbox__input,
.awebooking-page .searchbox--horizontal .searchbox__input {
  color: inherit;
  width: 100%;
  display: block;
  padding: 0 0 0.75em 0;
  height: auto;
  box-shadow: none;
  border: none;
  background-color: transparent !important;
}
.awebooking-block .searchbox--horizontal .searchbox__input:focus,
.awebooking-page .searchbox--horizontal .searchbox__input:focus {
  box-shadow: 0 2px 0 0 #333 !important;
}
.awebooking-block .searchbox--horizontal .searchbox__submit,
.awebooking-page .searchbox--horizontal .searchbox__submit {
  align-self: center;
  margin-right: 0.75em;
}
.awebooking-block .DayPickerPopper,
.awebooking-page .DayPickerPopper {
  z-index: 10001;
}
.awebooking-block .notification,
.awebooking-page .notification {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-left: 3px solid #6c757d;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.awebooking-block .notification p,
.awebooking-page .notification p {
  margin-top: 0;
}
.awebooking-block .notification p:last-child,
.awebooking-page .notification p:last-child {
  margin-bottom: 0;
}
.awebooking-block .notification--success,
.awebooking-page .notification--success {
  color: #1b722f;
  background-color: #f1f9f3;
  border-color: #28a745;
}
.awebooking-block .notification--success hr,
.awebooking-page .notification--success hr {
  border-top-color: #23923d;
}
.awebooking-block .notification--success .alert-link,
.awebooking-page .notification--success .alert-link {
  color: #11491e;
}
.awebooking-block .notification--info,
.awebooking-page .notification--info {
  color: #106e7d;
  background-color: #f0f9fa;
  border-color: #17a2b8;
}
.awebooking-block .notification--info hr,
.awebooking-page .notification--info hr {
  border-top-color: #148ea1;
}
.awebooking-block .notification--info .alert-link,
.awebooking-page .notification--info .alert-link {
  color: #0a4650;
}
.awebooking-block .notification--warning,
.awebooking-page .notification--warning {
  color: #ad8305;
  background-color: #fffbef;
  border-color: #ffc107;
}
.awebooking-block .notification--warning hr,
.awebooking-page .notification--warning hr {
  border-top-color: #edb100;
}
.awebooking-block .notification--warning .alert-link,
.awebooking-page .notification--warning .alert-link {
  color: #7b5d04;
}
.awebooking-block .notification--error,
.awebooking-page .notification--error {
  color: #96242f;
  background-color: #fdf2f3;
  border-color: #dc3545;
}
.awebooking-block .notification--error hr,
.awebooking-page .notification--error hr {
  border-top-color: #d32535;
}
.awebooking-block .notification--error .alert-link,
.awebooking-page .notification--error .alert-link {
  color: #6d1a22;
}

.hotel-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.hotel-content__main,
.hotel-content__aside {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.hotel-content__main {
  flex: 0 0 100%;
  max-width: 100%;
  order: 1;
}

.hotel-content__aside {
  flex: 0 0 100%;
  max-width: 100%;
  order: 0;
}

.awebooking-datepicker.flatpickr-calendar {
  margin-top: 9px;
}
.awebooking-datepicker.flatpickr-calendar:after {
  margin: 0 -9px;
  border-width: 9px;
}
.awebooking-datepicker.flatpickr-calendar:before {
  border-width: 10px;
  margin: 0 -10px;
}
.awebooking-datepicker.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #2196F3;
}
.awebooking-datepicker.flatpickr-calendar.arrowBottom:after {
  border-top-color: #fff;
}
.awebooking-datepicker .flatpickr-day.hidden {
  display: block !important;
}
.awebooking-datepicker .flatpickr-days,
.awebooking-datepicker .flatpickr-innerContainer {
  border: none;
}
.awebooking-datepicker .flatpickr-months .flatpickr-month {
  color: #fff;
}
.awebooking-datepicker .flatpickr-months .flatpickr-prev-month,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month,
.awebooking-datepicker .flatpickr-months .flatpickr-month {
  height: 35px;
  box-sizing: border-box;
}
.awebooking-datepicker .flatpickr-months .flatpickr-prev-month svg,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month svg,
.awebooking-datepicker .flatpickr-months .flatpickr-prev-month:hover svg,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month:hover svg {
  fill: #fff;
}
.awebooking-datepicker .flatpickr-months .flatpickr-prev-month:hover,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.25s ease;
}
.awebooking-datepicker .flatpickr-current-month span.cur-month,
.awebooking-datepicker .flatpickr-current-month input.cur-year {
  font-weight: 400;
  font-size: 18px;
}
.awebooking-datepicker .flatpickr-current-month input.cur-year {
  box-shadow: none;
}
.awebooking-datepicker .flatpickr-current-month span.cur-month:hover {
  background-color: transparent;
}
.awebooking-datepicker .numInputWrapper:hover {
  background-color: transparent;
}
.awebooking-datepicker .flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(255, 255, 255, 0.9);
}
.awebooking-datepicker .flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(255, 255, 255, 0.9);
}
.awebooking-datepicker span.flatpickr-weekday {
  font-weight: 400;
  color: #fff;
}
.awebooking-datepicker .flatpickr-weekdays,
.awebooking-datepicker .flatpickr-months .flatpickr-month,
.awebooking-datepicker span.flatpickr-weekday {
  background: #2196F3;
}
.awebooking-datepicker .flatpickr-day.today {
  border-color: #2196F3;
}
.awebooking-datepicker .flatpickr-day.today:hover, .awebooking-datepicker .flatpickr-day.today:focus {
  color: inherit;
  background: #eee;
  border-color: #2196F3;
}
.awebooking-datepicker .flatpickr-day:hover,
.awebooking-datepicker .flatpickr-day.prevMonthDay:hover,
.awebooking-datepicker .flatpickr-day.nextMonthDay:hover,
.awebooking-datepicker .flatpickr-day:focus,
.awebooking-datepicker .flatpickr-day.prevMonthDay:focus,
.awebooking-datepicker .flatpickr-day.nextMonthDay:focus {
  background: #eee;
  border-color: #eee;
}
.awebooking-datepicker .flatpickr-day.inRange,
.awebooking-datepicker .flatpickr-day.prevMonthDay.inRange,
.awebooking-datepicker .flatpickr-day.nextMonthDay.inRange,
.awebooking-datepicker .flatpickr-day.today.inRange,
.awebooking-datepicker .flatpickr-day.prevMonthDay.today.inRange,
.awebooking-datepicker .flatpickr-day.nextMonthDay.today.inRange {
  background: #e2f2ff;
  border-color: #e2f2ff;
}
.awebooking-datepicker .flatpickr-day.inRange {
  border-radius: 0;
  box-shadow: -5px 0 0 #e2f2ff, 5px 0 0 #e2f2ff;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  box-shadow: 0 0 0 #e2f2ff, 5px 0 0 #e2f2ff;
}
.awebooking-datepicker .flatpickr-day.selected,
.awebooking-datepicker .flatpickr-day.startRange,
.awebooking-datepicker .flatpickr-day.endRange,
.awebooking-datepicker .flatpickr-day.selected.inRange,
.awebooking-datepicker .flatpickr-day.startRange.inRange,
.awebooking-datepicker .flatpickr-day.endRange.inRange,
.awebooking-datepicker .flatpickr-day.selected:focus,
.awebooking-datepicker .flatpickr-day.startRange:focus,
.awebooking-datepicker .flatpickr-day.endRange:focus,
.awebooking-datepicker .flatpickr-day.selected:hover,
.awebooking-datepicker .flatpickr-day.startRange:hover,
.awebooking-datepicker .flatpickr-day.endRange:hover,
.awebooking-datepicker .flatpickr-day.selected.prevMonthDay,
.awebooking-datepicker .flatpickr-day.startRange.prevMonthDay,
.awebooking-datepicker .flatpickr-day.endRange.prevMonthDay,
.awebooking-datepicker .flatpickr-day.selected.nextMonthDay,
.awebooking-datepicker .flatpickr-day.startRange.nextMonthDay,
.awebooking-datepicker .flatpickr-day.endRange.nextMonthDay {
  color: #fff;
  border-color: #2196F3;
  background: #2196F3;
}
.awebooking-datepicker .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.awebooking-datepicker .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.awebooking-datepicker .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: -10px 0 0 #2196F3;
}
.awebooking-datepicker .flatpickr-day.selected.startRange + .endRange,
.awebooking-datepicker .flatpickr-day.startRange.startRange + .endRange,
.awebooking-datepicker .flatpickr-day.endRange.startRange + .endRange {
  box-shadow: -10px 0 0 #2196F3;
}
.awebooking-datepicker .flatpickr-day.week.selected {
  box-shadow: -5px 0 0 #2196F3, 5px 0 0 #2196F3;
}
.awebooking-datepicker .flatpickr-calendar.open {
  z-index: 999999;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
  box-shadow: -5px 0 0 #e2f2ff, 2px 0 0 #e2f2ff !important;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+7) {
  box-shadow: -5px 0 0 #e2f2ff, 5px 0 0 #e2f2ff !important;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  box-shadow: -2px 0 0 #e2f2ff, 5px 0 0 #e2f2ff !important;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .dayContainer:not(:last-child) {
  border-right: solid 1px #eee;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .dayContainer + .dayContainer {
  box-shadow: -1px 0 0 #eee;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-month:first-of-type {
  border-top-right-radius: 0;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-month:last-of-type {
  border-top-left-radius: 0;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-month:not(:first-of-type):not(:last-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filterbox {
  margin: 0;
  width: 100%;
  display: block;
  margin-bottom: 1.5em;
}

.filterbox__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 1em;
  border-radius: 1px;
  background-color: #fff;
  border: solid 1px #dae1e7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.filterbox__box:not(:last-child) {
  box-shadow: none;
  padding-bottom: 0.8em;
  border-bottom: solid 1px #e9ecef;
}

.filterbox__label {
  display: inline-block;
  margin-right: 10px;
}

.filterbox__sortby {
  display: inline-block;
  width: auto;
}

.filterbox__showprice {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filterbox__showprice-item {
  display: inline-block;
}
.filterbox__showprice-item:not(:last-child) {
  margin-right: 10px;
}
.filterbox__showprice-item.active a, .filterbox__showprice-item:focus a, .filterbox__showprice-item:hover a {
  color: #1a1a1a;
}
.filterbox__showprice-item a {
  color: #888;
}

.roommaster {
  background-color: #fff;
  background-clip: padding-box;
  border: solid 1px #eee;
  border-radius: 1px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.075);
}
.roommaster:not(:last-child) {
  margin-bottom: 1.5em;
}

.roommaster-header {
  padding: 0.3rem 15px;
  border-bottom: solid 1px #e9ecef;
  position: relative;
}
.roommaster-header__title,
.roommaster-header h3.roommaster-header__title,
.roommaster-header h4.roommaster-header__title {
  font-size: 1.25rem;
  margin-bottom: 0;
}
.roommaster-header .button--circle-icon {
  top: 4px;
  right: 0.75em;
  position: absolute;
  border-color: transparent;
}

.roommaster-content {
  padding-left: 15px;
  padding-right: 15px;
}
.roommaster-content::after {
  display: block;
  clear: both;
  content: "";
}
.roommaster-content > .columns > .column-lg-3 {
  padding-right: 0;
}
.roommaster-content__title {
  margin: 0;
  padding: 5px 5px;
  font-size: 1em;
  text-align: center;
}

.roommaster-info__list {
  list-style: none;
  margin: 0;
  padding: 0.3rem 0;
}
.roommaster-info__list .info-item {
  position: relative;
  font-size: 0.8em;
  padding-left: 1.2em;
  padding-bottom: 0.5em;
}
.roommaster-info__list .info-icon {
  position: absolute;
  top: 1px;
  left: 0;
}

.roommaster-list {
  padding: 0;
}
.roommaster-list .roommaster-list__content {
  margin-bottom: 15px;
}

.columns.roommaster-list__header {
  display: none;
  background-color: #f7f7f7;
}

.roommaster-box {
  padding: 0.3em;
  border-bottom: 1px solid #f3f3f3;
}
.roommaster-box .roommaster-content__title {
  display: block;
}

.roommaster-deal__item:not(:last-child) {
  margin-bottom: 0.3em;
}
.roommaster-deal__bucketspan {
  font-size: 0.8em;
  font-weight: bold;
}
.roommaster-deal__info {
  font-size: 0.8em;
}
.roommaster-deal__info .info-icon {
  margin-right: 0.3em;
}

.roommaster-occupancy__item {
  display: block;
  padding: 0;
}

.roommaster-inventory {
  font-size: 1em;
  font-style: italic;
}
.roommaster-inventory .awebooking-price {
  display: block;
  font-size: 1.2em;
}

.roommaster-button .button {
  width: 100%;
}
.roommaster-button__remaining-rooms {
  font-size: 0.9em;
  font-style: italic;
}

.roommaster-detail {
  border-top: 1px solid #adb5bd;
  padding: 1.2rem 0.8em;
}

.roommaster-occupancy-list {
  padding: 0;
  margin-left: 0;
}

.tabs-main {
  overflow: hidden;
}

.tabs-main-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #adb5bd;
}
.tabs-main-list li {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 1.2em;
}
.tabs-main-list li + li {
  margin-left: 1.2em;
}
.tabs-main-list li.active {
  color: #007bff;
}

.tabs-active-divider {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  background-color: #007bff;
  transition: all 0.6s ease;
}

.tabs-main-container {
  white-space: nowrap;
  transition: all 0.6s ease;
  box-sizing: border-box;
  font-size: 0;
}
.tabs-main-container .tabs-main-content {
  display: inline-block;
  vertical-align: top;
  font-size: 1.1em;
  width: 100%;
  white-space: normal;
}

.awebooking-tooltip-theme {
  color: #fff;
  padding: 15px;
  text-align: left;
}
.awebooking-tooltip-theme .occupancy-description {
  color: #fff;
}
.awebooking-tooltip-theme .occupancy-description__title {
  font-size: 1em;
  color: #fff;
  margin: 0 !important;
  padding-bottom: 0.4em;
}
.awebooking-tooltip-theme .occupancy-description__list {
  font-size: 0.75em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.awebooking-tooltip-theme .occupancy-description__list li {
  color: #fff;
  padding: 0.2em 0;
}

dialog[open] {
  display: block;
}

.awebooking-dialog[aria-hidden=true],
[data-a11y-dialog-native] > .awebooking-dialog__overlay {
  display: none !important;
}

.awebooking-dialog {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  display: none;
  overflow: hidden;
  outline: 0;
}
.awebooking-dialog.open {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
.awebooking-dialog__overlay,
.awebooking-dialog dialog::-webkit-backdrop {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.35);
}
.awebooking-dialog__overlay,
.awebooking-dialog dialog::backdrop {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.35);
}
.awebooking-dialog__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.awebooking-dialog > dialog, .awebooking-dialog__dialog {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  display: block;
  margin: 2.5rem auto;
  padding: 1em;
  min-width: 320px;
  max-width: 500px;
  border: solid 1px transparent;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}
.awebooking-dialog .button.awebooking-dialog__close {
  width: 42px;
  height: 42px;
  padding: 0;
  border-radius: 0;
  text-align: center;
  font-size: 1.75em;
  line-height: 1;
  font-weight: 300;
  color: #6c757d;
}

.awebooking-checkout .content-area {
  width: 100%;
}

.awebooking #checkout-services-form,
.awebooking #checkout-form,
.awebooking .checkout__section--guest-details,
.awebooking .checkout__section--guest-additional-information {
  margin-bottom: 1.75em;
}
.awebooking .payment-methods {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 1.75em;
}
.awebooking .payment-method {
  padding: 1em;
  border-radius: 3px;
  margin-bottom: 1em;
  background-color: #f7f7f7;
  position: relative;
  box-sizing: border-box;
}
.awebooking .payment-method .payment-method__label {
  cursor: pointer;
}
.awebooking .payment-method:last-child {
  margin-bottom: 0;
}
.awebooking .payment-method.selected {
  box-shadow: 0 0 0 2px #1a88ff;
}
.awebooking .payment-method__description {
  padding-left: 0.5rem;
}
.awebooking .payment-method__description p {
  color: #8c8c8c;
  margin-top: 0;
}
.awebooking .payment-method__description p:last-child {
  margin-bottom: 0;
}
.awebooking .payment-method__controls {
  display: none;
}
.awebooking .selected .payment-method__controls {
  display: block !important;
}

/**
   * Order page
   */
ul.booking_details {
  padding: 0;
  margin: 0 0 3em;
  list-style: none;
}
ul.booking_details::after {
  display: block;
  clear: both;
  content: "";
}
ul.booking_details li {
  float: left;
  margin-right: 2em;
  text-transform: uppercase;
  font-size: 0.715em;
  line-height: 1;
  border-right: 1px dashed #545b62;
  padding-right: 2em;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
ul.booking_details li strong {
  display: block;
  font-size: 1.4em;
  text-transform: none;
  line-height: 1.5;
}
ul.booking_details li:last-of-type {
  border: none;
}

#checkout-form .cmb-row {
  padding: 3px;
  margin: 0 0 6px;
}
#checkout-form .required {
  color: red;
  font-weight: 700;
  border: 0 !important;
  text-decoration: none;
}

.reservation-goto-checkout {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.reservation {
  padding: 0;
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.reservation__title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.reservation__section {
  padding: 1em;
}
.reservation__section--dates {
  border-bottom: solid 1px #dae1e7;
}
.reservation__empty {
  color: #6c757d;
  padding: 1em;
  text-align: center;
}
.reservation__empty > span {
  color: #ced4da;
  display: block;
  line-height: 1;
  font-size: 2em;
}
.reservation__empty > p {
  margin-top: 5px;
  margin-bottom: 0;
}
.reservation dl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.reservation dl:not(:last-child) {
  border-bottom: solid 1px #f8f9fa;
}
.reservation dt {
  width: 60%;
  float: left;
  clear: left;
  font-weight: normal;
  box-sizing: border-box;
}
.reservation dd {
  margin: 0;
  margin-left: 60%;
  text-align: right;
  box-sizing: border-box;
}

.reservation__section--totals {
  background-color: #f7f7f7;
  border-top: solid 1px #dae1e7;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.reservation__section--totals .awebooking-price {
  font-weight: 700;
}

.reservation-dates {
  display: block;
  align-items: unset;
  justify-content: unset;
  text-align: center;
}

.reservation-date__title {
  color: #6c757d;
  font-size: 0.75em;
  display: block;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}
.reservation-date__date {
  position: relative;
  padding-left: 1em;
  margin-bottom: 0;
}
.reservation-date__day {
  top: 50%;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 3em;
  line-height: 1;
}
.reservation-date__arrow {
  font-size: 2em;
  line-height: 1;
}
.reservation-date__week, .reservation-date__year {
  display: block;
}
.reservation-date__time {
  color: #6c757d;
  font-size: 0.85em;
  display: block;
}

.roomdetails-room {
  margin-bottom: 0.75em;
}
.roomdetails-room__content {
  padding: 1em;
}
.roomdetails-room__list {
  margin: 0;
}
.roomdetails-room__title {
  float: left;
  clear: left;
  font-size: 1em;
  width: 7em;
}
.roomdetails-room__text {
  margin: 0;
  margin-left: 8em;
}
.roomdetails-room__text:after {
  content: "";
  display: table;
  clear: both;
}
.roomdetails-room__title, .roomdetails-room__text {
  margin-bottom: 0.2em;
}

.checkout-services {
  border: 1px solid #e9ecef;
  border-radius: 1px;
  margin-bottom: 20px;
}
.checkout-services__header {
  font-size: 1.5em;
  padding: 0.8em;
  margin: 0;
}

.checkout-service {
  border-top: 1px solid #e9ecef;
  padding: 1.2em;
}
.checkout-service__media {
  overflow: hidden;
}
.checkout-service__media img {
  display: inline-block;
  vertical-align: middle;
}
.checkout-service__title {
  font-size: 1.2em;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.checkout-service__description {
  margin-bottom: 0.5em;
  font-size: 0.8em;
}
.checkout-service__operation {
  font-size: 0.8em;
  color: #dc3545;
}
.checkout-service__price {
  color: #dc3545;
}
.checkout-service__price .awebooking-price {
  display: block;
  font-size: 2em;
  line-height: 1;
  color: #343a40;
}
.checkout-service__price .awebooking-price__symbol {
  font-size: 1em;
}
.checkout-services__submit {
  text-align: right;
}

.checkout-service__info {
  display: table;
  width: 100%;
}

.checkout-service__content {
  float: left;
  display: table-cell;
  width: 100%;
}

.checkout-service__pay {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}

.checkout-service__input-box {
  float: right;
}

.awebooking-check-availability .content-area {
  width: 100%;
}

.search-rooms__form {
  margin-bottom: 1.5em;
}

.search-rooms__box {
  padding: 3.5em 0;
  text-align: center;
  border-radius: 1px;
  background-color: #fbfbfb;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}
.search-rooms__box-icon {
  margin-bottom: 1em;
}
.search-rooms__box-icon img {
  display: inline-block;
}
.search-rooms__box-title {
  color: #6c757d;
  font-weight: 700;
  margin-bottom: 5px;
}
.search-rooms__box-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  color: #737d85;
}

.awebooking .list-room,
.awebooking-block .list-room {
  margin-bottom: 50px;
}

.list-room__title {
  margin-bottom: 0;
}

.list-room__wrap {
  margin-left: -15px;
  margin-right: -15px;
}
.list-room__wrap::after {
  display: block;
  clear: both;
  content: "";
}

.list-room__media {
  width: 100%;
  float: left;
  padding: 0 15px;
}
.list-room__media img {
  width: 100%;
}

.list-room__info {
  width: 100%;
  float: left;
  padding: 0 15px;
}

.list-room__price {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1;
}
.list-room__price span {
  font-size: 24px;
}

.list-room__desc {
  font-size: 0.8em;
  margin-bottom: 0;
}

.list-room__info-list,
.list-room__occupancy {
  margin: 0;
  list-style: none;
  width: 100%;
  float: left;
  padding: 0 15px;
}

.list-room__info-list {
  font-size: 0.75em;
  padding-bottom: 5px;
  border-bottom: 1px solid #f3f3f3;
}

.list-room__additional-info {
  margin-bottom: 5px;
}
.list-room__additional-info::after {
  display: block;
  clear: both;
  content: "";
}

.single-room_type .content-area {
  width: 100%;
}

.room__header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
}

.room__title {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

.room__price {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1;
}
.room__price span {
  font-size: 24px;
}

.room__section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
}

.room__section-title {
  margin-bottom: 20px;
}

.room-amenities,
.room-gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}
.room-amenities::after,
.room-gallery::after {
  display: block;
  clear: both;
  content: "";
}

.room-amenity {
  width: 100%;
  display: block;
  float: left;
}

.room-gallery {
  margin-left: -5px;
  margin-right: -5px;
}

.room-gallery__item {
  width: 100%;
  display: block;
  float: left;
  padding: 0 5px;
  margin-bottom: 10px;
}

.awebooking .list-hotel {
  margin-bottom: 50px;
}

.list-hotel__title {
  margin-bottom: 0;
}

.list-hotel__wrap {
  margin-left: -15px;
  margin-right: -15px;
}
.list-hotel__wrap::after {
  display: block;
  clear: both;
  content: "";
}

.list-hotel__media {
  width: 100%;
  float: left;
  padding: 0 15px;
}
.list-hotel__media img {
  width: 100%;
}

.list-hotel__info {
  width: 100%;
  float: left;
  padding: 0 15px;
}

.list-hotel__additional-info {
  font-style: italic;
  margin-bottom: 15px;
}

@media (min-width: 320px) {
  .awebooking-block .datepicker,
.awebooking-page .datepicker {
    width: 300px;
  }
}

@media (min-width: 480px) {
  .awebooking-block .datepicker,
.awebooking-page .datepicker {
    width: 460px;
  }
  .awebooking-block .datepicker__months,
.awebooking-page .datepicker__months {
    overflow: hidden;
  }
  .awebooking-block .datepicker__month,
.awebooking-page .datepicker__month {
    width: 200px;
  }
  .awebooking-block .datepicker__month--month1,
.awebooking-page .datepicker__month--month1 {
    float: left;
  }
  .awebooking-block .datepicker__month--month2,
.awebooking-page .datepicker__month--month2 {
    display: table;
    float: right;
  }
  .awebooking-block .datepicker__month-button--disabled,
.awebooking-page .datepicker__month-button--disabled {
    visibility: hidden;
  }
  .awebooking-block .datepicker__months,
.awebooking-page .datepicker__months {
    position: relative;
  }
  .awebooking-block .datepicker__months:before,
.awebooking-page .datepicker__months:before {
    background: #dcdcdc;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

@media (min-width: 768px) {
  .awebooking-block .datepicker,
.awebooking-page .datepicker {
    width: 560px;
  }
  .awebooking-block .datepicker__month,
.awebooking-page .datepicker__month {
    width: 240px;
  }
  .awebooking-block .datepicker__close-button,
.awebooking-page .datepicker__close-button {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .filterbox__wrap {
    flex-direction: row;
  }
  .filterbox__box:not(:last-child) {
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.07);
    padding-bottom: 0;
    border-bottom: none;
  }
  .room-gallery__item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .hotel-content__main {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    order: 0;
  }
  .hotel-content__aside {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    order: 1;
  }
  .columns.roommaster-list__header {
    display: flex;
  }
  .roommaster-box {
    border-bottom: none;
  }
  .roommaster-box .roommaster-content__title {
    display: none;
  }
  .list-room__media {
    width: 45%;
  }
  .list-room__info {
    width: 55%;
  }
  .list-room__info-list,
.list-room__occupancy {
    width: 50%;
  }
  .list-room__info-list {
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 0;
    border-bottom: none;
  }
  .room-amenity {
    width: 50%;
  }
  .room-gallery__item {
    width: 25%;
  }
  .list-hotel__media {
    width: 45%;
  }
  .list-hotel__info {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .reservation-dates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  .reservation-date__date {
    padding-left: 4em;
  }
}