@charset "UTF-8";
.awebooking-container {
  margin: auto;
  max-width: 1140px;
}

/* Font-size base */
.awebooking-block {
  font-size: 1rem;
}
.awebooking-block form {
  margin-bottom: 0;
}

.awebooking,
.awebooking-block {
  /* Buttons */
  /* =============================================================
   * THEME
   * ============================================================*/
}
.awebooking ol,
.awebooking ul,
.awebooking-block ol,
.awebooking-block ul {
  margin: 0;
}
.awebooking button:focus,
.awebooking-block button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.awebooking table,
.awebooking-block table {
  border-collapse: collapse;
}
.awebooking img,
.awebooking-block img {
  max-width: 100%;
  height: auto;
}
.awebooking textarea,
.awebooking-block textarea {
  overflow: auto;
  resize: vertical;
}
.awebooking [hidden],
.awebooking-block [hidden] {
  display: none;
}
.awebooking .form-input, .awebooking .cmb2_select,
.awebooking .cmb2_textarea,
.awebooking .regular-text,
.awebooking-block .form-input,
.awebooking-block .cmb2_select,
.awebooking-block .cmb2_textarea,
.awebooking-block .regular-text {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: calc(2.25em + 2px);
  line-height: 1.25;
  padding: 0.5em 0.75em;
  font-size: 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  transition: border 0.3s ease;
}
.awebooking .form-input:focus, .awebooking .cmb2_select:focus,
.awebooking .cmb2_textarea:focus,
.awebooking .regular-text:focus,
.awebooking-block .form-input:focus,
.awebooking-block .cmb2_select:focus,
.awebooking-block .cmb2_textarea:focus,
.awebooking-block .regular-text:focus {
  outline: 0;
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.awebooking .form-input::-webkit-input-placeholder, .awebooking .cmb2_select::-webkit-input-placeholder,
.awebooking .cmb2_textarea::-webkit-input-placeholder,
.awebooking .regular-text::-webkit-input-placeholder,
.awebooking-block .form-input::-webkit-input-placeholder,
.awebooking-block .cmb2_select::-webkit-input-placeholder,
.awebooking-block .cmb2_textarea::-webkit-input-placeholder,
.awebooking-block .regular-text::-webkit-input-placeholder {
  opacity: 0.5;
  color: inherit;
}
.awebooking .form-input:-ms-input-placeholder, .awebooking .cmb2_select:-ms-input-placeholder,
.awebooking .cmb2_textarea:-ms-input-placeholder,
.awebooking .regular-text:-ms-input-placeholder,
.awebooking-block .form-input:-ms-input-placeholder,
.awebooking-block .cmb2_select:-ms-input-placeholder,
.awebooking-block .cmb2_textarea:-ms-input-placeholder,
.awebooking-block .regular-text:-ms-input-placeholder {
  opacity: 0.5;
  color: inherit;
}
.awebooking .form-input::-ms-input-placeholder, .awebooking .cmb2_select::-ms-input-placeholder,
.awebooking .cmb2_textarea::-ms-input-placeholder,
.awebooking .regular-text::-ms-input-placeholder,
.awebooking-block .form-input::-ms-input-placeholder,
.awebooking-block .cmb2_select::-ms-input-placeholder,
.awebooking-block .cmb2_textarea::-ms-input-placeholder,
.awebooking-block .regular-text::-ms-input-placeholder {
  opacity: 0.5;
  color: inherit;
}
.awebooking .form-input::placeholder, .awebooking .cmb2_select::placeholder,
.awebooking .cmb2_textarea::placeholder,
.awebooking .regular-text::placeholder,
.awebooking-block .form-input::placeholder,
.awebooking-block .cmb2_select::placeholder,
.awebooking-block .cmb2_textarea::placeholder,
.awebooking-block .regular-text::placeholder {
  opacity: 0.5;
  color: inherit;
}
.awebooking .form-input:disabled, .awebooking .cmb2_select:disabled,
.awebooking .cmb2_textarea:disabled,
.awebooking .regular-text:disabled, .awebooking .form-input[readonly], .awebooking [readonly].cmb2_select,
.awebooking [readonly].cmb2_textarea,
.awebooking [readonly].regular-text,
.awebooking-block .form-input:disabled,
.awebooking-block .cmb2_select:disabled,
.awebooking-block .cmb2_textarea:disabled,
.awebooking-block .regular-text:disabled,
.awebooking-block .form-input[readonly],
.awebooking-block [readonly].cmb2_select,
.awebooking-block [readonly].cmb2_textarea,
.awebooking-block [readonly].regular-text {
  opacity: 1;
  background-color: #e9ecef;
}
.awebooking .form-input::-ms-expand, .awebooking .cmb2_select::-ms-expand,
.awebooking .cmb2_textarea::-ms-expand,
.awebooking .regular-text::-ms-expand,
.awebooking-block .form-input::-ms-expand,
.awebooking-block .cmb2_select::-ms-expand,
.awebooking-block .cmb2_textarea::-ms-expand,
.awebooking-block .regular-text::-ms-expand {
  border: 0;
  background-color: transparent;
}
.awebooking select.form-input[size], .awebooking select[size].cmb2_select,
.awebooking select[size].cmb2_textarea,
.awebooking select[size].regular-text, .awebooking select.form-input[multiple], .awebooking select[multiple].cmb2_select,
.awebooking select[multiple].cmb2_textarea,
.awebooking select[multiple].regular-text,
.awebooking-block select.form-input[size],
.awebooking-block select[size].cmb2_select,
.awebooking-block select[size].cmb2_textarea,
.awebooking-block select[size].regular-text,
.awebooking-block select.form-input[multiple],
.awebooking-block select[multiple].cmb2_select,
.awebooking-block select[multiple].cmb2_textarea,
.awebooking-block select[multiple].regular-text {
  height: auto;
}
.awebooking select.form-input:focus::-ms-value, .awebooking select.cmb2_select:focus::-ms-value,
.awebooking select.cmb2_textarea:focus::-ms-value,
.awebooking select.regular-text:focus::-ms-value,
.awebooking-block select.form-input:focus::-ms-value,
.awebooking-block select.cmb2_select:focus::-ms-value,
.awebooking-block select.cmb2_textarea:focus::-ms-value,
.awebooking-block select.regular-text:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
.awebooking textarea.form-input, .awebooking textarea.cmb2_select,
.awebooking textarea.cmb2_textarea,
.awebooking textarea.regular-text,
.awebooking-block textarea.form-input,
.awebooking-block textarea.cmb2_select,
.awebooking-block textarea.cmb2_textarea,
.awebooking-block textarea.regular-text {
  height: auto;
}
.awebooking .input-transparent,
.awebooking-block .input-transparent {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent !important;
  color: #495057;
  font-size: 1rem;
  line-height: 1;
}
.awebooking .input-transparent:focus,
.awebooking-block .input-transparent:focus {
  outline: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.awebooking .input-transparent:disabled, .awebooking .input-transparent[readonly],
.awebooking-block .input-transparent:disabled,
.awebooking-block .input-transparent[readonly] {
  opacity: 1;
}
.awebooking .input-transparent::-webkit-input-placeholder,
.awebooking-block .input-transparent::-webkit-input-placeholder {
  opacity: 1;
  color: #6c757d;
}
.awebooking .input-transparent:-ms-input-placeholder,
.awebooking-block .input-transparent:-ms-input-placeholder {
  opacity: 1;
  color: #6c757d;
}
.awebooking .input-transparent::-ms-input-placeholder,
.awebooking-block .input-transparent::-ms-input-placeholder {
  opacity: 1;
  color: #6c757d;
}
.awebooking .input-transparent::placeholder,
.awebooking-block .input-transparent::placeholder {
  opacity: 1;
  color: #6c757d;
}
.awebooking select.input-transparent,
.awebooking-block select.input-transparent {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.awebooking .button,
.awebooking-block .button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.25;
  font-size: 1em;
  padding: 0.5em 1.5em;
  font-weight: 400;
  border-radius: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  transition: background-color 0.3s ease;
  color: #3d4852;
  border: solid 1px #dae1e7;
  background: #fff;
}
.awebooking .button:hover, .awebooking .button:focus,
.awebooking-block .button:hover,
.awebooking-block .button:focus {
  text-decoration: none;
  background-color: #f2f5f7;
}
.awebooking .button:focus, .awebooking .button.focus,
.awebooking-block .button:focus,
.awebooking-block .button.focus {
  box-shadow: none;
}
.awebooking .button.disabled, .awebooking .button:disabled,
.awebooking-block .button.disabled,
.awebooking-block .button:disabled {
  opacity: 0.5;
  box-shadow: none;
}
.awebooking .button:not(:disabled):not(.disabled),
.awebooking-block .button:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.awebooking .button--primary,
.awebooking-block .button--primary {
  color: #fff;
  background-color: #2196f3;
  border-color: transparent;
}
.awebooking .button--primary:hover, .awebooking .button--primary:focus,
.awebooking-block .button--primary:hover,
.awebooking-block .button--primary:focus {
  color: #fff;
  background-color: #43a6f5;
  border-color: transparent;
}
.awebooking .button--link,
.awebooking .button--link:hover,
.awebooking .button--link:focus,
.awebooking-block .button--link,
.awebooking-block .button--link:hover,
.awebooking-block .button--link:focus {
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
}
.awebooking .button--rounded,
.awebooking-block .button--rounded {
  border-radius: 999px;
}
.awebooking .button--block,
.awebooking-block .button--block {
  display: block;
}
.awebooking .table,
.awebooking-block .table {
  width: 100%;
  font-size: 1em;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 1em;
}
.awebooking .table th,
.awebooking .table td,
.awebooking-block .table th,
.awebooking-block .table td {
  line-height: 1.25;
  vertical-align: top;
  padding: 0.85em 1em;
  border-top: 1px solid #edf0f3;
}
.awebooking .table thead th,
.awebooking-block .table thead th {
  font-weight: 600;
  font-size: 0.875em;
  text-transform: uppercase;
  vertical-align: bottom;
  background-color: #f2f5f7;
  border-bottom: solid 1px #dee2e6;
}
.awebooking .table tbody td,
.awebooking .table tbody th,
.awebooking-block .table tbody td,
.awebooking-block .table tbody th {
  background-color: #fff;
}
.awebooking .table-container,
.awebooking-block .table-container {
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.awebooking .vivre-card,
.awebooking-block .vivre-card {
  padding: 2.5em 0;
  text-align: center;
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}
.awebooking .vivre-card__icon,
.awebooking-block .vivre-card__icon {
  margin-bottom: 1em;
}
.awebooking .vivre-card__icon img,
.awebooking-block .vivre-card__icon img {
  display: inline-block;
}
.awebooking .vivre-card__title,
.awebooking-block .vivre-card__title {
  font-weight: 600;
  margin-bottom: 5px;
}
.awebooking .vivre-card__text,
.awebooking-block .vivre-card__text {
  color: #898989;
  margin-top: 0;
  margin-bottom: 0;
}
.awebooking .datepicker,
.awebooking-block .datepicker {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  width: 260px;
  z-index: 1;
}
.awebooking .datepicker table th,
.awebooking-block .datepicker table th {
  padding: 0;
}
.awebooking .datepicker__inner,
.awebooking-block .datepicker__inner {
  overflow: hidden;
}
.awebooking .datepicker__month,
.awebooking-block .datepicker__month {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
.awebooking .datepicker__month--month2,
.awebooking-block .datepicker__month--month2 {
  display: none;
}
.awebooking .datepicker__month-day--valid,
.awebooking-block .datepicker__month-day--valid {
  cursor: pointer;
}
.awebooking .datepicker__month-day--lastMonth,
.awebooking .datepicker__month-day--nextMonth,
.awebooking-block .datepicker__month-day--lastMonth,
.awebooking-block .datepicker__month-day--nextMonth {
  visibility: hidden;
}
.awebooking .datepicker__month-button,
.awebooking-block .datepicker__month-button {
  cursor: pointer;
}
.awebooking .datepicker__info--feedback,
.awebooking-block .datepicker__info--feedback {
  display: none;
}
.awebooking .datepicker__info--error,
.awebooking .datepicker__info--help,
.awebooking-block .datepicker__info--error,
.awebooking-block .datepicker__info--help {
  display: block;
}
.awebooking .datepicker__close-button,
.awebooking-block .datepicker__close-button {
  cursor: pointer;
}
.awebooking .datepicker__tooltip,
.awebooking-block .datepicker__tooltip {
  position: absolute;
}
.awebooking .datepicker,
.awebooking-block .datepicker {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 8px 8px 40px 5px rgba(0, 0, 0, 0.08);
  color: #484c55;
  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.awebooking .datepicker__inner,
.awebooking-block .datepicker__inner {
  padding: 20px;
}
.awebooking .datepicker__month,
.awebooking-block .datepicker__month {
  font-size: 12px;
}
.awebooking .datepicker__month-caption,
.awebooking-block .datepicker__month-caption {
  border-bottom: 1px solid #dcdcdc;
  height: 2.5em;
  vertical-align: middle;
}
.awebooking .datepicker__month-name,
.awebooking-block .datepicker__month-name {
  text-transform: uppercase;
}
.awebooking .datepicker__week-days,
.awebooking-block .datepicker__week-days {
  height: 2em;
  vertical-align: middle;
}
.awebooking .datepicker__week-name,
.awebooking-block .datepicker__week-name {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.awebooking .datepicker__month-day,
.awebooking-block .datepicker__month-day {
  color: #acb2c1;
  padding: 9px 7px;
}
.awebooking .datepicker__month-day--no-check-in,
.awebooking-block .datepicker__month-day--no-check-in {
  position: relative;
}
.awebooking .datepicker__month-day--no-check-in:after,
.awebooking-block .datepicker__month-day--no-check-in:after {
  background-color: rgba(255, 0, 0, 0.1);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 50%;
  top: 0;
  z-index: -1;
}
.awebooking .datepicker__month-day--no-check-out,
.awebooking-block .datepicker__month-day--no-check-out {
  position: relative;
}
.awebooking .datepicker__month-day--no-check-out:after,
.awebooking-block .datepicker__month-day--no-check-out:after {
  background-color: rgba(255, 0, 0, 0.1);
  bottom: 0;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.awebooking .datepicker__month-day--invalid,
.awebooking-block .datepicker__month-day--invalid {
  color: #e8ebf4;
}
.awebooking .datepicker__month-day--disabled,
.awebooking-block .datepicker__month-day--disabled {
  color: #e8ebf4;
  position: relative;
}
.awebooking .datepicker__month-day--disabled:after,
.awebooking-block .datepicker__month-day--disabled:after {
  content: "\D7";
  left: 50%;
  position: absolute;
  color: red;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.awebooking .datepicker__month-day--day-of-week-disabled,
.awebooking-block .datepicker__month-day--day-of-week-disabled {
  background-color: rgba(232, 235, 244, 0.5);
}
.awebooking .datepicker__month-day--selected,
.awebooking-block .datepicker__month-day--selected {
  background-color: rgba(116, 107, 253, 0.2);
  color: #fff;
}
.awebooking .datepicker__month-day--selected:after,
.awebooking-block .datepicker__month-day--selected:after {
  display: none;
}
.awebooking .datepicker__month-day--hovering,
.awebooking-block .datepicker__month-day--hovering {
  background-color: rgba(116, 107, 253, 0.3);
  color: #fff;
}
.awebooking .datepicker__month-day--today,
.awebooking-block .datepicker__month-day--today {
  background-color: #484c55;
  color: #fff;
}
.awebooking .datepicker__month-day--first-day-selected,
.awebooking .datepicker__month-day--last-day-selected,
.awebooking-block .datepicker__month-day--first-day-selected,
.awebooking-block .datepicker__month-day--last-day-selected {
  background-color: #746bfd;
  color: #fff;
}
.awebooking .datepicker__month-day--last-day-selected:after,
.awebooking-block .datepicker__month-day--last-day-selected:after {
  content: none;
}
.awebooking .datepicker__month-button,
.awebooking-block .datepicker__month-button {
  background-color: #d6dae5;
  border-radius: 4px;
  color: #9da6b8;
  display: inline-block;
  padding: 5px 10px;
}
.awebooking .datepicker__month-button:hover,
.awebooking-block .datepicker__month-button:hover {
  background-color: #746bfd;
  color: #fff;
}
.awebooking .datepicker__topbar,
.awebooking-block .datepicker__topbar {
  margin-bottom: 20px;
  position: relative;
}
.awebooking .datepicker__info-text,
.awebooking-block .datepicker__info-text {
  font-size: 13px;
}
.awebooking .datepicker__info--selected,
.awebooking-block .datepicker__info--selected {
  font-size: 11px;
  text-transform: uppercase;
}
.awebooking .datepicker__info--selected-label,
.awebooking-block .datepicker__info--selected-label {
  color: #acb2c1;
}
.awebooking .datepicker__info-text--selected-days,
.awebooking-block .datepicker__info-text--selected-days {
  font-size: 11px;
  font-style: normal;
}
.awebooking .datepicker__info--error,
.awebooking-block .datepicker__info--error {
  color: red;
  font-size: 13px;
  font-style: italic;
}
.awebooking .datepicker__info--help,
.awebooking-block .datepicker__info--help {
  color: #acb2c1;
  font-style: italic;
}
.awebooking .datepicker__close-button,
.awebooking-block .datepicker__close-button {
  background-color: #746bfd;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  font-size: 10px;
  color: #fff;
  margin-top: 20px;
  padding: 7px 13px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}
.awebooking .datepicker__close-button:hover,
.awebooking-block .datepicker__close-button:hover {
  background-color: #484c55;
  color: #fff;
}
.awebooking .datepicker__tooltip,
.awebooking-block .datepicker__tooltip {
  background-color: #ffe684;
  border-radius: 2px;
  font-size: 11px;
  margin-top: -5px;
  padding: 5px 10px;
}
.awebooking .datepicker__tooltip:after,
.awebooking-block .datepicker__tooltip:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffe684;
  bottom: -4px;
  content: "";
  left: 50%;
  margin-left: -4px;
  position: absolute;
}
.awebooking .abrs-searchbox,
.awebooking .abrs-searchbox__wrap,
.awebooking .abrs-searchbox__box,
.awebooking .abrs-searchbox__box-wrap,
.awebooking .abrs-searchbox__box-icon,
.awebooking .abrs-searchbox__box-child,
.awebooking-block .abrs-searchbox,
.awebooking-block .abrs-searchbox__wrap,
.awebooking-block .abrs-searchbox__box,
.awebooking-block .abrs-searchbox__box-wrap,
.awebooking-block .abrs-searchbox__box-icon,
.awebooking-block .abrs-searchbox__box-child {
  box-sizing: border-box;
}
.awebooking .abrs-searchbox .abrs-searchbox__input,
.awebooking-block .abrs-searchbox .abrs-searchbox__input {
  margin: 0;
}
.awebooking .abrs-searchbox .abrs-searchbox__input[readonly],
.awebooking-block .abrs-searchbox .abrs-searchbox__input[readonly] {
  background-color: #fff;
}
.awebooking .abrs-searchbox .abrs-searchbox__submit:focus,
.awebooking-block .abrs-searchbox .abrs-searchbox__submit:focus {
  outline: 0;
}
.awebooking .abrs-searchbox__box-label,
.awebooking-block .abrs-searchbox__box-label {
  font-size: 0.875em;
  font-weight: 600;
  display: block;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.awebooking .abrs-searchbox--vertical .abrs-searchbox__wrap > .abrs-searchbox__box,
.awebooking .abrs-searchbox--vertical .abrs-searchbox__wrap > .abrs-searchbox__group,
.awebooking-block .abrs-searchbox--vertical .abrs-searchbox__wrap > .abrs-searchbox__box,
.awebooking-block .abrs-searchbox--vertical .abrs-searchbox__wrap > .abrs-searchbox__group {
  margin-bottom: 1em;
}
.awebooking .abrs-searchbox--vertical .abrs-searchbox__submit,
.awebooking-block .abrs-searchbox--vertical .abrs-searchbox__submit {
  width: 100%;
  display: block;
}
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__wrap,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__wrap {
  border-radius: 1px;
  border: solid 1px #dae1e7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #fff;
}
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__wrap > .abrs-searchbox__box,
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__wrap > .abrs-searchbox__group,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__wrap > .abrs-searchbox__box,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__wrap > .abrs-searchbox__group {
  padding: 0.75em 0.75em 0;
}
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__wrap,
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__group-wrap,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__wrap,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__group-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
  min-height: 1px;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__wrap > .abrs-searchbox__box,
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__wrap > .abrs-searchbox__group,
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__group-wrap .abrs-searchbox__box,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__wrap > .abrs-searchbox__box,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__wrap > .abrs-searchbox__group,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__group-wrap .abrs-searchbox__box {
  flex-grow: 1;
  flex-basis: 0;
}
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__box-label,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__box-label {
  color: #9e9e9e;
}
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__input,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__input {
  color: inherit;
  width: 100%;
  display: block;
  padding: 0 0 0.75em 0;
  height: auto;
  box-shadow: none;
  border: none;
  background-color: transparent !important;
}
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__input:focus,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__input:focus {
  box-shadow: 0 2px 0 0 #333 !important;
}
.awebooking .abrs-searchbox--horizontal .abrs-searchbox__submit,
.awebooking-block .abrs-searchbox--horizontal .abrs-searchbox__submit {
  align-self: center;
  margin-right: 0.75em;
}
.awebooking .DayPickerPopper,
.awebooking-block .DayPickerPopper {
  z-index: 10001;
}

dialog[open] {
  display: block;
}

.awebooking-dialog[aria-hidden=true],
[data-a11y-dialog-native] > .awebooking-dialog__overlay {
  display: none !important;
}

.awebooking-dialog {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  display: flex;
  overflow: hidden;
  outline: 0;
  opacity: 0;
  align-items: center;
  justify-content: center;
  -webkit-animation: fade-in 0.5s forwards;
          animation: fade-in 0.5s forwards;
}
.awebooking-dialog:not(.open) {
  display: none !important;
}
.awebooking-dialog__overlay,
.awebooking-dialog dialog::-webkit-backdrop {
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.35);
}
.awebooking-dialog__overlay,
.awebooking-dialog dialog::backdrop {
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.35);
}
.awebooking-dialog__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.awebooking-dialog > dialog, .awebooking-dialog__dialog {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 1em;
  min-width: 320px;
  width: 500px;
  border: solid 1px transparent;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}
.awebooking-dialog .button.awebooking-dialog__close {
  width: 42px;
  height: 42px;
  padding: 0;
  border-radius: 0;
  text-align: center;
  font-size: 1.75em;
  line-height: 1;
  font-weight: 300;
  color: #6c757d;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-fly-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 130px, 0);
    transform: translate3d(0, 130px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fade-in-fly-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 130px, 0);
    transform: translate3d(0, 130px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.notification {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-left: 3px solid #6c757d;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.notification p {
  margin-top: 0;
}
.notification p:last-child {
  margin-bottom: 0;
}

.notification--success {
  color: #1b722f;
  background-color: #f1f9f3;
  border-color: #28a745;
}
.notification--success hr {
  border-top-color: #23923d;
}
.notification--success .alert-link {
  color: #11491e;
}

.notification--info {
  color: #106e7d;
  background-color: #f0f9fa;
  border-color: #17a2b8;
}
.notification--info hr {
  border-top-color: #148ea1;
}
.notification--info .alert-link {
  color: #0a4650;
}

.notification--warning {
  color: #ad8305;
  background-color: #fffbef;
  border-color: #ffc107;
}
.notification--warning hr {
  border-top-color: #edb100;
}
.notification--warning .alert-link {
  color: #7b5d04;
}

.notification--error {
  color: #96242f;
  background-color: #fdf2f3;
  border-color: #dc3545;
}
.notification--error hr {
  border-top-color: #d32535;
}
.notification--error .alert-link {
  color: #6d1a22;
}

.hotel-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.hotel-content__main,
.hotel-content__aside {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.hotel-content__main {
  flex: 0 0 100%;
  max-width: 100%;
  order: 1;
}

.hotel-content__aside {
  flex: 0 0 100%;
  max-width: 100%;
  order: 0;
}

.awebooking-datepicker.flatpickr-calendar {
  margin-top: 9px;
}
.awebooking-datepicker.flatpickr-calendar:after {
  margin: 0 -9px;
  border-width: 9px;
}
.awebooking-datepicker.flatpickr-calendar:before {
  border-width: 10px;
  margin: 0 -10px;
}
.awebooking-datepicker.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #2196F3;
}
.awebooking-datepicker.flatpickr-calendar.arrowBottom:after {
  border-top-color: #fff;
}
.awebooking-datepicker .flatpickr-day.hidden {
  display: block !important;
}
.awebooking-datepicker .flatpickr-days,
.awebooking-datepicker .flatpickr-innerContainer {
  border: none;
}
.awebooking-datepicker .flatpickr-months .flatpickr-month {
  color: #fff;
}
.awebooking-datepicker .flatpickr-months .flatpickr-prev-month,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month,
.awebooking-datepicker .flatpickr-months .flatpickr-month {
  height: 35px;
  box-sizing: border-box;
}
.awebooking-datepicker .flatpickr-months .flatpickr-prev-month svg,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month svg,
.awebooking-datepicker .flatpickr-months .flatpickr-prev-month:hover svg,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month:hover svg {
  fill: #fff;
}
.awebooking-datepicker .flatpickr-months .flatpickr-prev-month:hover,
.awebooking-datepicker .flatpickr-months .flatpickr-next-month:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.25s ease;
}
.awebooking-datepicker .flatpickr-current-month span.cur-month,
.awebooking-datepicker .flatpickr-current-month input.cur-year {
  font-weight: 400;
  font-size: 18px;
}
.awebooking-datepicker .flatpickr-current-month input.cur-year {
  box-shadow: none;
}
.awebooking-datepicker .flatpickr-current-month span.cur-month:hover {
  background-color: transparent;
}
.awebooking-datepicker .numInputWrapper:hover {
  background-color: transparent;
}
.awebooking-datepicker .flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(255, 255, 255, 0.9);
}
.awebooking-datepicker .flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(255, 255, 255, 0.9);
}
.awebooking-datepicker span.flatpickr-weekday {
  font-weight: 400;
  color: #fff;
}
.awebooking-datepicker .flatpickr-weekdays,
.awebooking-datepicker .flatpickr-months .flatpickr-month,
.awebooking-datepicker span.flatpickr-weekday {
  background: #2196F3;
}
.awebooking-datepicker .flatpickr-day.today {
  border-color: #2196F3;
}
.awebooking-datepicker .flatpickr-day.today:hover, .awebooking-datepicker .flatpickr-day.today:focus {
  color: inherit;
  background: #eee;
  border-color: #2196F3;
}
.awebooking-datepicker .flatpickr-day:hover,
.awebooking-datepicker .flatpickr-day.prevMonthDay:hover,
.awebooking-datepicker .flatpickr-day.nextMonthDay:hover,
.awebooking-datepicker .flatpickr-day:focus,
.awebooking-datepicker .flatpickr-day.prevMonthDay:focus,
.awebooking-datepicker .flatpickr-day.nextMonthDay:focus {
  background: #eee;
  border-color: #eee;
}
.awebooking-datepicker .flatpickr-day.inRange,
.awebooking-datepicker .flatpickr-day.prevMonthDay.inRange,
.awebooking-datepicker .flatpickr-day.nextMonthDay.inRange,
.awebooking-datepicker .flatpickr-day.today.inRange,
.awebooking-datepicker .flatpickr-day.prevMonthDay.today.inRange,
.awebooking-datepicker .flatpickr-day.nextMonthDay.today.inRange {
  background: #e2f2ff;
  border-color: #e2f2ff;
}
.awebooking-datepicker .flatpickr-day.inRange {
  border-radius: 0;
  box-shadow: -5px 0 0 #e2f2ff, 5px 0 0 #e2f2ff;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  box-shadow: 0 0 0 #e2f2ff, 5px 0 0 #e2f2ff;
}
.awebooking-datepicker .flatpickr-day.selected,
.awebooking-datepicker .flatpickr-day.startRange,
.awebooking-datepicker .flatpickr-day.endRange,
.awebooking-datepicker .flatpickr-day.selected.inRange,
.awebooking-datepicker .flatpickr-day.startRange.inRange,
.awebooking-datepicker .flatpickr-day.endRange.inRange,
.awebooking-datepicker .flatpickr-day.selected:focus,
.awebooking-datepicker .flatpickr-day.startRange:focus,
.awebooking-datepicker .flatpickr-day.endRange:focus,
.awebooking-datepicker .flatpickr-day.selected:hover,
.awebooking-datepicker .flatpickr-day.startRange:hover,
.awebooking-datepicker .flatpickr-day.endRange:hover,
.awebooking-datepicker .flatpickr-day.selected.prevMonthDay,
.awebooking-datepicker .flatpickr-day.startRange.prevMonthDay,
.awebooking-datepicker .flatpickr-day.endRange.prevMonthDay,
.awebooking-datepicker .flatpickr-day.selected.nextMonthDay,
.awebooking-datepicker .flatpickr-day.startRange.nextMonthDay,
.awebooking-datepicker .flatpickr-day.endRange.nextMonthDay {
  color: #fff;
  border-color: #2196F3;
  background: #2196F3;
}
.awebooking-datepicker .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.awebooking-datepicker .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.awebooking-datepicker .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: -10px 0 0 #2196F3;
}
.awebooking-datepicker .flatpickr-day.selected.startRange + .endRange,
.awebooking-datepicker .flatpickr-day.startRange.startRange + .endRange,
.awebooking-datepicker .flatpickr-day.endRange.startRange + .endRange {
  box-shadow: -10px 0 0 #2196F3;
}
.awebooking-datepicker .flatpickr-day.week.selected {
  box-shadow: -5px 0 0 #2196F3, 5px 0 0 #2196F3;
}
.awebooking-datepicker .flatpickr-calendar.open {
  z-index: 999999;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
  box-shadow: -5px 0 0 #e2f2ff, 2px 0 0 #e2f2ff !important;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+7) {
  box-shadow: -5px 0 0 #e2f2ff, 5px 0 0 #e2f2ff !important;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  box-shadow: -2px 0 0 #e2f2ff, 5px 0 0 #e2f2ff !important;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .dayContainer:not(:last-child) {
  border-right: solid 1px #eee;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .dayContainer + .dayContainer {
  box-shadow: -1px 0 0 #eee;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-month:first-of-type {
  border-top-right-radius: 0;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-month:last-of-type {
  border-top-left-radius: 0;
}
.awebooking-datepicker .flatpickr-calendar.multiMonth .flatpickr-month:not(:first-of-type):not(:last-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filterbox {
  margin: 0;
  width: 100%;
  display: block;
  margin-bottom: 1.5em;
}

.filterbox__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1em;
  border-radius: 1px;
  background-color: #fff;
  border: solid 1px #dae1e7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.filterbox__box:not(:last-child) {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: solid 1px #eeeeee;
}

.filterbox__box-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.filterbox__box-wrap > .filterbox__label {
  flex-grow: 1;
  display: block;
  margin-right: 7px;
  line-height: 1.4;
}
.filterbox__box-wrap select.input-transparent {
  width: auto !important;
  line-height: 1.4;
}

.filterbox__showprice {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filterbox__showprice-item {
  float: left;
  line-height: 1.4;
}
.filterbox__showprice-item:not(:last-child) {
  margin-right: 10px;
}
.filterbox__showprice-item a {
  color: #888;
}
.filterbox__showprice-item a:hover,
.filterbox__showprice-item a:focus, .filterbox__showprice-item.active > a {
  color: #1a1a1a;
}

.roommaster {
  background-color: #fff;
  background-clip: padding-box;
  border: solid 1px #eee;
  border-radius: 1px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.075);
}
.roommaster:not(:last-child) {
  margin-bottom: 1.5em;
}

.roommaster-header {
  padding: 0.3em 15px;
  border-bottom: solid 1px #e9ecef;
  position: relative;
}
.roommaster-header__title,
.roommaster-header h3.roommaster-header__title,
.roommaster-header h4.roommaster-header__title {
  font-size: 1.25rem;
  margin-bottom: 0;
}
.roommaster-header .button--circle-icon {
  top: 4px;
  right: 0.75em;
  position: absolute;
  border-color: transparent;
}

.roommaster-content {
  padding-left: 15px;
  padding-right: 15px;
}
.roommaster-content::after {
  display: block;
  clear: both;
  content: "";
}
.roommaster-content > .columns > .column-lg-3 {
  padding-right: 0;
}
.roommaster-content__title {
  margin: 0;
  padding: 5px 5px;
  font-size: 1em;
  text-align: center;
}

.roommaster-info__list {
  list-style: none;
  margin: 0;
  padding: 0.3em 0;
}
.roommaster-info__list .info-item {
  position: relative;
  font-size: 0.8em;
  padding-left: 1.2em;
  padding-bottom: 0.5em;
}
.roommaster-info__list .info-icon {
  position: absolute;
  top: 1px;
  left: 0;
}

.roommaster-list {
  padding: 0;
}
.roommaster-list .roommaster-list__content {
  margin-bottom: 15px;
}

.columns.roommaster-list__header {
  display: none;
  background-color: #f7f7f7;
}

.roommaster-box {
  padding: 0.3em;
  border-bottom: 1px solid #f3f3f3;
}
.roommaster-box .roommaster-content__title {
  display: block;
}

.roommaster-deal__item:not(:last-child) {
  margin-bottom: 0.3em;
}
.roommaster-deal__bucketspan {
  font-size: 0.8em;
  font-weight: bold;
}
.roommaster-deal__info {
  font-size: 0.8em;
}
.roommaster-deal__info .info-icon {
  margin-right: 0.3em;
}

.roommaster-occupancy__item {
  display: block;
  padding: 0;
}

.roommaster-inventory {
  font-size: 1em;
  font-style: italic;
}
.roommaster-inventory .awebooking-price {
  display: block;
  font-size: 1.2em;
}

.roommaster-button .button {
  width: 100%;
}
.roommaster-button__remaining-rooms {
  font-size: 0.9em;
  font-style: italic;
}

.roommaster-detail {
  border-top: 1px solid #adb5bd;
  padding: 1.2em 0.8em;
}

.roommaster-occupancy-list {
  padding: 0;
  margin-left: 0;
}

.tabs-main {
  overflow: hidden;
}

.tabs-main-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #adb5bd;
}
.tabs-main-list li {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 0.8em 1.2em;
}
.tabs-main-list li + li {
  margin-left: 1.2em;
}
.tabs-main-list li.active {
  color: #007bff;
}

.tabs-active-divider {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  background-color: #007bff;
  transition: all 0.6s ease;
}

.tabs-main-container {
  white-space: nowrap;
  transition: all 0.6s ease;
  box-sizing: border-box;
  font-size: 0;
}
.tabs-main-container .tabs-main-content {
  display: inline-block;
  vertical-align: top;
  font-size: 1.1em;
  width: 100%;
  white-space: normal;
}

.awebooking-tooltip-theme {
  color: #fff;
  padding: 15px;
  text-align: left;
}
.awebooking-tooltip-theme .occupancy-description {
  color: #fff;
}
.awebooking-tooltip-theme .occupancy-description__title {
  font-size: 1em;
  color: #fff;
  margin: 0 !important;
  padding-bottom: 0.4em;
}
.awebooking-tooltip-theme .occupancy-description__list {
  font-size: 0.75em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.awebooking-tooltip-theme .occupancy-description__list li {
  color: #fff;
  padding: 0.2em 0;
}

.awebooking-checkout .content-area {
  width: 100%;
}

table.abrs-table--checkout-review-booking {
  font-size: 14px;
  margin-bottom: 0;
}
table.abrs-table--checkout-review-booking p {
  margin: 0;
}
table.abrs-table--checkout-review-booking th.room-nights {
  width: 10%;
}
table.abrs-table--checkout-review-booking th.room-arrival, table.abrs-table--checkout-review-booking th.room-depature {
  width: 15%;
}
table.abrs-table--checkout-review-booking th.room-guest {
  width: 20%;
}
table.abrs-table--checkout-review-booking th.room-subtotal {
  width: 100px;
}
table.abrs-table--checkout-review-booking .room-nights,
table.abrs-table--checkout-review-booking .room-arrival,
table.abrs-table--checkout-review-booking .room-depature,
table.abrs-table--checkout-review-booking .room-guest,
table.abrs-table--checkout-review-booking .room-price,
table.abrs-table--checkout-review-booking .room-subtotal,
table.abrs-table--checkout-review-booking .services-price {
  text-align: center;
}
table.abrs-table--checkout-review-booking .room-services {
  list-style: none;
  padding: 0;
  margin: 0;
}
table.abrs-table--checkout-review-booking .room-service {
  border-bottom: 1px solid #d1d1d1;
}
table.abrs-table--checkout-review-booking .room-service:last-child {
  border-bottom: none;
}
table.abrs-table--checkout-review-booking .room-service__name,
table.abrs-table--checkout-review-booking .room-service__price {
  display: inline-block;
}
table.abrs-table--checkout-review-booking .room-service__price {
  float: right;
}
table.abrs-table--checkout-review-booking:nth-child(3n) td, table.abrs-table--checkout-review-booking:nth-child(4n) td {
  background-color: rgba(0, 0, 0, 0.025);
}

table.abrs-table--checkout-total-cost {
  border-top: none;
}
table.abrs-table--checkout-total-cost .booking-price-name {
  text-align: right;
}
table.abrs-table--checkout-total-cost .booking-price-value {
  width: 100px;
  text-align: center;
}

.awebooking-checkout .content-area {
  width: 100%;
}

.awebooking #checkout-services-form,
.awebooking #checkout-form,
.awebooking .checkout__section--guest-details,
.awebooking .checkout__section--guest-additional-information {
  margin-bottom: 1.75em;
}
.awebooking .payment-methods {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 1.75em;
}
.awebooking .payment-method {
  padding: 1em;
  border-radius: 3px;
  margin-bottom: 1em;
  background-color: #f7f7f7;
  position: relative;
  box-sizing: border-box;
}
.awebooking .payment-method .payment-method__label {
  cursor: pointer;
}
.awebooking .payment-method:last-child {
  margin-bottom: 0;
}
.awebooking .payment-method.selected {
  box-shadow: 0 0 0 2px #1a88ff;
}
.awebooking .payment-method__description {
  padding-left: 0.5rem;
}
.awebooking .payment-method__description p {
  color: #8c8c8c;
  margin-top: 0;
}
.awebooking .payment-method__description p:last-child {
  margin-bottom: 0;
}
.awebooking .payment-method__controls {
  display: none;
}
.awebooking .selected .payment-method__controls {
  display: block !important;
}

/**
   * Order page
   */
ul.booking_details {
  padding: 0;
  margin: 0 0 3em;
  list-style: none;
}
ul.booking_details::after {
  display: block;
  clear: both;
  content: "";
}
ul.booking_details li {
  float: left;
  margin-right: 2em;
  text-transform: uppercase;
  font-size: 0.715em;
  line-height: 1;
  border-right: 1px dashed #545b62;
  padding-right: 2em;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
ul.booking_details li strong {
  display: block;
  font-size: 1.4em;
  text-transform: none;
  line-height: 1.5;
}
ul.booking_details li:last-of-type {
  border: none;
}

#checkout-form .cmb-row {
  padding: 3px;
  margin: 0 0 6px;
}
#checkout-form .required {
  color: red;
  font-weight: 700;
  border: 0 !important;
  text-decoration: none;
}

.reservation-goto-checkout {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.reservation {
  padding: 0;
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.reservation__title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.reservation__section {
  padding: 1em;
}
.reservation__section--dates {
  border-bottom: solid 1px #dae1e7;
}
.reservation__empty {
  color: #6c757d;
  padding: 1em;
  text-align: center;
}
.reservation__empty > span {
  color: #ced4da;
  display: block;
  line-height: 1;
  font-size: 2em;
}
.reservation__empty > p {
  margin-top: 5px;
  margin-bottom: 0;
}
.reservation dl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.reservation dl:not(:last-child) {
  border-bottom: solid 1px #f8f9fa;
}
.reservation dt {
  width: 60%;
  float: left;
  clear: left;
  font-weight: normal;
  box-sizing: border-box;
}
.reservation dd {
  margin: 0;
  margin-left: 60%;
  text-align: right;
  box-sizing: border-box;
}

.reservation__section--totals {
  background-color: #f7f7f7;
  border-top: solid 1px #dae1e7;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.reservation__section--totals .awebooking-price {
  font-weight: 700;
}

.reservation-dates {
  display: block;
  align-items: unset;
  justify-content: unset;
  text-align: center;
}

.reservation-date__title {
  color: #6c757d;
  font-size: 0.75em;
  display: block;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}
.reservation-date__date {
  position: relative;
  padding-left: 1em;
  margin-bottom: 0;
}
.reservation-date__day {
  top: 50%;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 3em;
  line-height: 1;
}
.reservation-date__arrow {
  font-size: 2em;
  line-height: 1;
}
.reservation-date__week, .reservation-date__year {
  display: block;
}
.reservation-date__time {
  color: #6c757d;
  font-size: 0.85em;
  display: block;
}

.roomdetails-room {
  margin-bottom: 0.75em;
}
.roomdetails-room__content {
  padding: 1em;
}
.roomdetails-room__list {
  margin: 0;
}
.roomdetails-room__title {
  float: left;
  clear: left;
  font-size: 1em;
  width: 7em;
}
.roomdetails-room__text {
  margin: 0;
  margin-left: 8em;
}
.roomdetails-room__text:after {
  content: "";
  display: table;
  clear: both;
}
.roomdetails-room__title, .roomdetails-room__text {
  margin-bottom: 0.2em;
}

.checkout-services {
  border: 1px solid #e9ecef;
  border-radius: 1px;
  margin-bottom: 20px;
}
.checkout-services__header {
  font-size: 1em;
  padding: 5px 10px;
  margin: 0;
}

.checkout-service {
  border-top: 1px solid #e9ecef;
  padding: 1.2em;
}
.checkout-service__media {
  overflow: hidden;
}
.checkout-service__media img {
  display: inline-block;
  vertical-align: middle;
}
.checkout-service__title {
  font-size: 1.2em;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.checkout-service__description {
  margin-bottom: 0.5em;
  font-size: 0.8em;
}
.checkout-service__operation {
  font-size: 0.8em;
  color: #dc3545;
}
.checkout-service__price {
  color: #dc3545;
}
.checkout-service__price .awebooking-price {
  display: block;
  font-size: 2em;
  line-height: 1;
  color: #343a40;
}
.checkout-service__price .awebooking-price__symbol {
  font-size: 1em;
}
.checkout-services__submit {
  text-align: right;
}

.checkout-service__info {
  display: table;
  width: 100%;
}

.checkout-service__content {
  float: left;
  display: table-cell;
  width: 100%;
}

.checkout-service__pay {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}

.checkout-service__input-box {
  float: right;
}

/* Searchbox Layout */
.searchbox,
.searchbox__wrap,
.searchbox__box,
.searchbox__box-wrap,
.searchbox__box-icon,
.searchbox__box-child {
  box-sizing: border-box;
}

.searchbox {
  margin: 0;
  width: 100%;
  display: block;
}
.searchbox [data-hotel=rangepicker] {
  display: none !important;
}

.searchbox__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  min-height: 1px;
  width: 100%;
}

.searchbox__box {
  z-index: 5;
  position: relative;
}
.searchbox__box:focus {
  outline: 0;
  box-shadow: none;
}

.searchbox__box-wrap {
  z-index: 10;
  position: relative;
}

.searchbox__box-label {
  color: #989898;
  display: block;
  text-transform: uppercase;
  font-size: 0.865em;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 5px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.searchbox__input-display,
.searchbox-occupancy-info,
.searchbox__input.input-transparent {
  color: #495057;
  display: block;
  text-align: left;
  font-size: 1em;
  line-height: 1.4;
}

.searchbox-occupancy-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button--search.searchbox__submit {
  min-width: 130px;
}

.searchbox__box--occupancy {
  z-index: 6;
}

.searchbox-occupancy-info__item:not(:last-child):after {
  content: ",";
}

.searchbox--horizontal .searchbox__wrap {
  padding: 0;
  flex-wrap: wrap;
  background-color: #fff;
}
.searchbox--horizontal .searchbox__box {
  flex-shrink: 1;
}
.searchbox--horizontal .searchbox__box-wrap {
  padding-bottom: 1em;
}
.searchbox--horizontal .searchbox__box-line {
  padding: 10px;
  border: solid 1px #dae1e7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
.searchbox--horizontal .searchbox__box--button {
  padding: 0;
}
.searchbox--horizontal .searchbox__box--button .searchbox__submit {
  width: 100%;
  min-height: 45px;
  border-radius: 3px;
}

.searchbox--vertical .searchbox__box-line {
  padding: 7px 12px;
  margin: 0 0 12px;
  border: solid 1px #dae1e7;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.searchbox--vertical .button.searchbox__submit {
  width: 100%;
}

/* Pop-up */
.searchbox__popup {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: solid 1px #ddd;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}
.searchbox__popup.open {
  display: block;
}

.searchbox__popup-item > label {
  display: flex;
  padding: 12px;
  border-bottom: solid 1px #eee;
}
.searchbox__popup-item > label > span {
  flex-grow: 1;
  display: block;
}
.searchbox__popup-item > label > input[type=number] {
  width: 50px;
  align-items: flex-end;
  margin: 0;
  padding: 2px 5px;
  line-height: 1.4;
  border: solid 1px #dae1e7;
  display: inline-block;
}

/* Remove late */
.searchbox__spinner {
  padding: 10px 0 10px 48px;
}
.searchbox__spinner:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.searchbox__spinner:hover .searchbox__spinner-button {
  visibility: visible;
  opacity: 1;
}

.searchbox__spinner-box {
  position: relative;
  padding: 10px 0;
}

.searchbox__spinner-title {
  display: inline-block;
  line-height: 1;
}

.searchbox__spinner-wrap {
  display: inline-block;
  float: right;
  padding-right: 40px;
}
.searchbox__spinner-wrap input::-webkit-inner-spin-button {
  display: none;
}

input[type=number].searchbox__spinner-input {
  border: none;
  background-color: transparent;
  padding: 0 15px;
  display: inline-block;
  text-align: right;
  max-width: 100px;
}

.searchbox__spinner-button {
  position: absolute;
  right: 15px;
  width: 18px;
  height: 18px;
  padding: 0;
  color: #d8d8d8;
  font-weight: 300;
  border: 1px solid #d8d8d8;
  background-color: transparent;
  border-radius: 50%;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
}

.searchbox__spinner-button--increment {
  top: 0;
}

.searchbox__spinner-button--decrement {
  bottom: 0;
}

.awebooking-check-availability .content-area {
  width: 100%;
}

.search-rooms__form {
  margin-bottom: 1.5em;
}

.search-rooms__box {
  padding: 3.5em 0;
  text-align: center;
  border-radius: 1px;
  background-color: #fbfbfb;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}
.search-rooms__box-icon {
  margin-bottom: 1em;
}
.search-rooms__box-icon img {
  display: inline-block;
}
.search-rooms__box-title {
  color: #6c757d;
  font-weight: 700;
  margin-bottom: 5px;
}
.search-rooms__box-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  color: #737d85;
}

.awebooking .list-room,
.awebooking-block .list-room {
  margin-bottom: 50px;
}

.list-room__title {
  margin-bottom: 0;
}

.list-room__wrap {
  margin-left: -15px;
  margin-right: -15px;
}
.list-room__wrap::after {
  display: block;
  clear: both;
  content: "";
}

.list-room__media {
  width: 100%;
  float: left;
  padding: 0 15px;
}
.list-room__media img {
  width: 100%;
}

.list-room__info {
  width: 100%;
  float: left;
  padding: 0 15px;
}

.list-room__price {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1;
}
.list-room__price span {
  font-size: 24px;
}

.list-room__desc {
  font-size: 0.8em;
  margin-bottom: 0;
}

.list-room__info-list,
.list-room__occupancy {
  margin: 0;
  list-style: none;
  width: 100%;
  float: left;
  padding: 0 15px;
}

.list-room__info-list {
  font-size: 0.75em;
  padding-bottom: 5px;
  border-bottom: 1px solid #f3f3f3;
}

.list-room__additional-info {
  margin-bottom: 5px;
}
.list-room__additional-info::after {
  display: block;
  clear: both;
  content: "";
}

.awebooking .list-hotel {
  margin-bottom: 50px;
}

.list-hotel__title {
  margin-bottom: 0;
}

.list-hotel__wrap {
  margin-left: -15px;
  margin-right: -15px;
}
.list-hotel__wrap::after {
  display: block;
  clear: both;
  content: "";
}

.list-hotel__media {
  width: 100%;
  float: left;
  padding: 0 15px;
}
.list-hotel__media img {
  width: 100%;
}

.list-hotel__info {
  width: 100%;
  float: left;
  padding: 0 15px;
}

.list-hotel__additional-info {
  font-style: italic;
  margin-bottom: 15px;
}

.single-room_type .content-area {
  width: 100%;
}

.room__header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
}

.room__title {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

.room__price {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1;
}
.room__price span {
  font-size: 24px;
}

.room__section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
}

.room__section-title {
  margin-bottom: 20px;
}

.room-amenities,
.room-gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}
.room-amenities::after,
.room-gallery::after {
  display: block;
  clear: both;
  content: "";
}

.room-amenity {
  width: 100%;
  display: block;
  float: left;
}

.room-gallery {
  margin-left: -5px;
  margin-right: -5px;
}

.room-gallery__item {
  width: 100%;
  display: block;
  float: left;
  padding: 0 5px;
  margin-bottom: 10px;
}

@media (min-width: 320px) {
  .awebooking .datepicker,
.awebooking-block .datepicker {
    width: 300px;
  }
}

@media (min-width: 480px) {
  .awebooking .datepicker,
.awebooking-block .datepicker {
    width: 460px;
  }
  .awebooking .datepicker__months,
.awebooking-block .datepicker__months {
    overflow: hidden;
  }
  .awebooking .datepicker__month,
.awebooking-block .datepicker__month {
    width: 200px;
  }
  .awebooking .datepicker__month--month1,
.awebooking-block .datepicker__month--month1 {
    float: left;
  }
  .awebooking .datepicker__month--month2,
.awebooking-block .datepicker__month--month2 {
    display: table;
    float: right;
  }
  .awebooking .datepicker__month-button--disabled,
.awebooking-block .datepicker__month-button--disabled {
    visibility: hidden;
  }
  .awebooking .datepicker__months,
.awebooking-block .datepicker__months {
    position: relative;
  }
  .awebooking .datepicker__months:before,
.awebooking-block .datepicker__months:before {
    background: #dcdcdc;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

@media (min-width: 768px) {
  .awebooking .datepicker,
.awebooking-block .datepicker {
    width: 560px;
  }
  .awebooking .datepicker__month,
.awebooking-block .datepicker__month {
    width: 240px;
  }
  .awebooking .datepicker__close-button,
.awebooking-block .datepicker__close-button {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .filterbox__wrap {
    flex-direction: row;
    justify-content: center;
  }
  .filterbox__box:not(:last-child) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .searchbox--horizontal .searchbox__wrap {
    flex-direction: row;
  }
  .room-gallery__item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .hotel-content__main {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    order: 0;
  }
  .hotel-content__aside {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    order: 1;
  }
  .columns.roommaster-list__header {
    display: flex;
  }
  .roommaster-box {
    border-bottom: none;
  }
  .roommaster-box .roommaster-content__title {
    display: none;
  }
  .searchbox--horizontal .searchbox__wrap {
    flex-wrap: nowrap;
    align-items: center;
    border: solid 1px #dae1e7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    background-color: #fff;
  }
  .searchbox--horizontal .searchbox__box:not(:last-child) {
    border-right: solid 1px #eee;
  }
  .searchbox--horizontal .searchbox__box-wrap {
    padding: 0;
  }
  .searchbox--horizontal .searchbox__box-line,
.searchbox--horizontal .searchbox__box--button .searchbox__box-wrap {
    border: none;
    box-shadow: none;
  }
  .searchbox--horizontal .searchbox__box--button .searchbox__box-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
  .searchbox--horizontal .searchbox__box--hotel {
    flex-basis: 200px;
  }
  .searchbox--horizontal .searchbox__box--checkin,
.searchbox--horizontal .searchbox__box--checkout {
    flex-basis: 225px;
  }
  .searchbox--horizontal .searchbox__box--occupancy {
    flex-grow: 1;
  }
  .searchbox__spinner-button {
    visibility: hidden;
    opacity: 0;
  }
  .list-room__media {
    width: 45%;
  }
  .list-room__info {
    width: 55%;
  }
  .list-room__info-list,
.list-room__occupancy {
    width: 50%;
  }
  .list-room__info-list {
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 0;
    border-bottom: none;
  }
  .list-hotel__media {
    width: 45%;
  }
  .list-hotel__info {
    width: 55%;
  }
  .room-amenity {
    width: 50%;
  }
  .room-gallery__item {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .reservation-dates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  .reservation-date__date {
    padding-left: 4em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .searchbox--horizontal .searchbox__box-wrap {
    padding-right: 1em;
  }
  .searchbox--horizontal .searchbox__box--hotel {
    flex: 0 0 100%;
  }
  .searchbox--horizontal .searchbox__box--checkin,
.searchbox--horizontal .searchbox__box--checkout {
    flex: 0 0 50%;
  }
  .searchbox--horizontal .searchbox__box--checkout {
    left: -1px;
  }
  .searchbox--horizontal .searchbox__box--occupancy,
.searchbox--horizontal .searchbox__box--button {
    flex: 0 0 50%;
  }
}