.awebooking-check-availability::after {
  content: '';
  display: table;
  clear: both;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

/* box-sizing set to border-box as default */

.awebooking *,
.awebooking *:after,
.awebooking *:before,
.awebooking-widget *,
.awebooking-widget *:after,
.awebooking-widget *:before {
  box-sizing: border-box;
}

/* Container */

.awebooking-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.awebooking-container::after {
  content: '';
  display: table;
  clear: both;
}

/* Layouts */

.awebooking-check-availability {
  margin-left: -15px;
  margin-right: -15px;
}

.awebooking-check-availability__sidebar,
.awebooking-check-availability__content-area {
  width: 100%;
  min-height: 1px;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.awebooking-total-price-wrapper {
  margin: 10px 0;
}

.awebooking-single-room .awebooking-check-availability__content-area {
  float: left;
}

/* Sidebar tweak */

.awebooking-check-form select,
.awebooking-check-form input[type="text"],
.awebooking-check-form input[type="email"] {
  width: 100%;
}

.awebooking-check-form button,
.awebooking-check-form input[type="button"],
.awebooking-check-form input[type="submit"] {
  width: 100%;
}

/* Reset Field */

.awebooking-field {
  margin-top: 0;
  margin-bottom: 15px;
}

/* Fix inline calendar width */

.awebooking-calendar .ui-datepicker-inline {
  width: 100% !important;
}

/* Theme Layouts */

#awe-plugin-booking {
  margin: 30px 0;
}

.awebooking-checkout-page .awebooking-check-availability__sidebar {
  right: 0;
  width: 100%;
}

.awebooking-checkout-page .awebooking-check-availability__content-area {
  left: 0;
  width: 100%;
}

.awebooking-field-none {
  display: none;
  display: none !important;
}

.awebooking-choose-room-notice {
  position: fixed;
  bottom: 3%;
  right: -30%;
  z-index: 9999;
  transition: all 0.5s ease;
}

/**
 * Bootstrap Transition.
 */

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.tab-content > .tab-pane {
  display: block;
  overflow-y: hidden;
  height: 0;
}

.tab-content > .active {
  height: auto;
}

/**
 * Bootstrap Collapse.
 */

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

tr.collapse.in {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}

/**
 * Bootstrap Modal.
 */

.awebooking-modal-open {
  overflow: hidden;
}

.awebooking-modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.35);
}

.awebooking-modal .awebooking-modal-dialog {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.awebooking-modal.in .awebooking-modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.awebooking-modal-open .awebooking-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.awebooking-modal-dialog {
  position: relative;
  width: auto;
  margin: 15px;
}

.awebooking-modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #eee;
  background-clip: padding-box;
  outline: 0;
}

.awebooking-modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
  position: relative;
}

.awebooking-modal-header .close {
  margin-top: -2px;
}

.awebooking-modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.awebooking-modal-body {
  position: relative;
  padding: 15px;
}

.awebooking-modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.abp-close-modal {
  color: #999;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 12px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-family: serif;
  border-radius: 2px;
}

.abp-close-modal:hover,
.abp-close-modal:focus {
  outline: 0;
  background-color: #f9f9f9;
}

.room_types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-room {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;
}

.list-room:after {
  display: block;
  content: "";
  clear: both;
}

.list-room__title {
  margin-bottom: 10px;
}

.list-room__media {
  width: 45%;
  float: left;
  padding: 0 15px;
}

.list-room__media img {
  width: 100%;
}

.list-room__info {
  width: 55%;
  float: left;
  padding: 0 15px;
}

.awebooking-room-type__sale-flash {
  position: absolute;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
  background-color: #007acc;
}

.list-room__price {
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1;
}

.list-room__price span {
  font-size: 30px;
}

.list-room__desc {
  font-size: 14px;
}

.list-room__button {
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
}

.list-room__button-booking {
  display: inline-block;
  border: 1px solid #007acc;
  padding: 8px 20px;
  margin-top: 10px;
  font-size: 14px;
  background-color: #007acc;
  color: #fff;
}

.list-room__button-booking:hover {
  color: #fff;
  background-color: #1aa3ff;
  border-color: #1aa3ff;
}

.awebooking-ordering {
  float: left;
  width: 50%;
  display: none;
}

.awebooking-ordering span {
  margin: 0 5px;
}

.awebooking-room-type-filter {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
}

.awebooking-room-type-filter .awebooking-field {
  margin-bottom: 0;
}

.awebooking-room-type-filter .awebooking-field > label,
.awebooking-room-type-filter .awebooking-field .awebooking-field-group {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-right: 10px;
}

.awebooking-location-filter {
  float: left;
  width: 33.333%;
}

.awebooking-location-filter .awebooking-select {
  min-width: 150px;
}

.single-booking_room_type .content-area,
.single-room_type .content-area {
  width: 100%;
}

.single-booking_room_type .awebooking-heading,
.single-room_type .awebooking-heading {
  margin-bottom: 0 !important;
}

.room-type__wrapper {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}

.room-type__wrapper:after {
  display: block;
  content: "";
  clear: both;
}

.room-type__media {
  width: 75%;
  float: left;
  padding: 0 15px;
  position: relative;
}

.room-type__image {
  margin-bottom: 15px;
}

.room-type__check-form {
  width: 25%;
  float: left;
}

.room-type__sale-flash {
  position: absolute;
}

.room-type-gallery__image {
  margin-left: -10px;
  margin-right: -10px;
}

.room-type-gallery__image img {
  width: 20%;
  padding: 0 10px;
  margin-bottom: 15px;
}

.room-type__price {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 16px;
  padding: 0 15px 15px;
}

.room-type__price span {
  font-size: 30px;
}

.room-type__check-form {
  background-color: #f7f7f7;
}

.room-type__title {
  padding: 15px 15px 0;
}

.room-type__check-form .awebooking-heading {
  font-size: 16px !important;
}

.amenity {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 32px;
}

.amenity:before {
  content: counter(amenity, disc);
  counter-increment: amenity;
  position: absolute;
  left: 10px;
}

.amenity.has-icon {
  padding-left: 0;
}

.amenity.has-icon:before {
  content: '';
}

.room-type__header .room-type__title,
.room-type__header .room-type__price {
  margin-bottom: 0;
}

.room-type__header .awebooking-room-type__price {
  border-bottom: none;
}

.room-type__check-form .room-type__title,
.room-type__check-form .room-type__price {
  display: none;
}

.amenity__title {
  display: inline-block;
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
}

.amenity__icon {
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  margin-right: 5px;
}

.awebooking-informations__title,
.awebooking-informations__table,
.awebooking-service__title {
  margin-bottom: 20px;
}

.awebooking-informations__media,
.awebooking-informations__content {
  padding: 0 15px;
}

.awebooking-informations__content {
  float: left;
  width: 100%;
}

.awebooking-service__wrapper {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}

.table-responsive {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.table-responsive table {
  width: 100%;
  table-layout: auto;
}

.table-responsive table th,
.table-responsive table td {
  white-space: nowrap;
}

.awebooking-pagination {
  margin: 25px 0;
  padding-left: 0;
  border-radius: 0;
  display: inline-block;
}

.awebooking-pagination > li {
  display: inline;
}

.awebooking-pagination > li > a,
.awebooking-pagination > li > span {
  float: left;
  position: relative;
  padding: 7px 14px;
  display: inline-block;
  text-decoration: none;
  margin-right: 5px;
}

.awebooking-loading {
  position: relative;
  z-index: 9;
}

.awebooking-loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(255, 255, 255, 0.9) url(../img/awebooking-loader.svg) no-repeat center;
  background-size: 32px 32px;
}

.form-input {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Inline datepicker */

.abrs-inline-datepicker .flatpickr-calendar.inline {
  margin-top: 0;
}

.abrs-inline-datepicker .flatpickr-calendar.inline,
.abrs-inline-datepicker .flatpickr-calendar.inline .flatpickr-days {
  width: 100% !important;
}

.abrs-inline-datepicker .flatpickr-calendar.inline .dayContainer {
  width: 50% !important;
  max-width: 50% !important;
}

.abrs-inline-datepicker .flatpickr-calendar.inline .flatpickr-day {
  max-width: 14.2857143%;
}

/* List room data table */

.abroom__table {
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  width: 100%;
  border: none;
}

.abroom__table td,
.abroom__table th {
  padding: 0;
  border: none;
}

.abroom__table .column-room-info {
  width: auto;
  vertical-align: top;
}

.abroom__table .column-room-button,
.abroom__table .column-room-inventory {
  width: 1%;
  vertical-align: middle;
}

.abroom__table .column-room-button {
  white-space: nowrap;
}

@media (min-width: 601px) {
  .awebooking-modal-dialog {
    margin: 50px 30px;
  }
}

@media (min-width: 768px) {
  .awebooking-container {
    width: 750px;
  }

  .amenity {
    width: 49%;
  }
}

@media (min-width: 783px) {
  .awebooking-modal-dialog {
    width: 600px;
    margin: 120px auto 30px;
  }

  .awebooking-modal-content {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 992px) {
  .awebooking-container {
    width: 970px;
  }
}

@media (min-width: 996px) {
  .amenity {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .awebooking-container {
    width: 1170px;
  }

  .awebooking-check-availability__sidebar {
    width: 25%;
  }

  .awebooking-check-availability__content-area {
    width: 75%;
  }

  .awebooking-sidebar-left .awebooking-check-availability__sidebar {
    right: 75%;
  }

  .awebooking-sidebar-left .awebooking-check-availability__content-area {
    left: 25%;
  }

  .awebooking-check-availability__content-area .awebooking-content {
    display: block;
  }
}

@media (max-width: 480px) {
  .room-type__media {
    width: 100%;
  }

  .room-type__check-form {
    width: 100%;
  }

  .awebooking-informations__title {
    font-size: 18px !important;
  }

  .awebooking-service__item span {
    display: block;
    font-size: 16px;
  }

  .awebooking-service__content {
    padding: 10px 0;
  }

  #awebooking-coupon-form .input-text {
    width: 150px;
    margin-bottom: 30px;
  }

  #apply-coupon {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .awebooking-check-availability__sidebar {
    width: 33.33333333%;
  }

  .awebooking-check-availability__content-area {
    width: 66.66666667%;
  }

  .awebooking-sidebar-left .awebooking-check-availability__sidebar {
    right: 66.66666667%;
  }

  .awebooking-sidebar-left .awebooking-check-availability__content-area {
    left: 33.33333333%;
  }
}
/*# sourceMappingURL=awebooking.css.map */
