// Core layout.
dialog[open] {
  display: block;
}

.awebooking-dialog[aria-hidden="true"],
[data-a11y-dialog-native] > .awebooking-dialog__overlay {
  display: none !important;
}

// Styling
.awebooking-dialog {
  @include fixed(0, 0, 0, 0);
  z-index: 9999;
  display: none;
  overflow: hidden;
  outline: 0;

  &.open {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__overlay,
  dialog::backdrop {
    z-index: 9999;
    background-color: rgba($black, .35);
  }

  &__overlay {
    @include fixed(0, 0, 0, 0);
  }

  > dialog,
  &__dialog {
    @include relative(0, 0, 0, 0);

    display: block;
    margin: 2.5rem auto;
    padding: 1rem;
    min-width: 320px;
    max-width: 500px;
    border: solid 1px transparent;
    background: $white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  }

  .button#{&}__close {
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 0;
    text-align: center;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 300;
    color: $gray-600;
  }
}
