// Core layout.
dialog[open] {
  display: block;
}

.awebooking-dialog[aria-hidden="true"],
[data-a11y-dialog-native] > .awebooking-dialog__overlay {
  display: none !important;
}

// Styling
.awebooking-dialog {
  @include fixed(0, 0, 0, 0);
  z-index: 9999;
  display: flex;
  overflow: hidden;
  outline: 0;
  opacity: 0;
  align-items: center;
  justify-content: center;
  animation: fade-in .5s forwards;

  &:not(.open) {
    display: none !important;
  }

  &__overlay,
  dialog::backdrop {
    z-index: 9998;
    background-color: rgba($black, .35);
  }

  &__overlay {
    @include fixed(0, 0, 0, 0);
  }

  > dialog,
  &__dialog {
    @include relative(0, 0, 0, 0);

    display: block;
    margin: 0 auto;
    padding: 1em;
    min-width: 320px;
    width: 500px;
    border: solid 1px transparent;
    background: $white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);

    //animation: fade-in-fly-up .3s forwards;
    //animation-delay: .25s;
  }

  .button#{&}__close {
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 0;
    text-align: center;
    font-size: 1.75em;
    line-height: 1;
    font-weight: 300;
    color: $gray-600;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fade-in-fly-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 130px, 0);
    transform: translate3d(0, 130px, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}
