$background: #F9F9FA;
$border: #cbd3db;


.checkin-checkout-details {
	display: table;
	width: 100%;
	margin-bottom: 20px;
}

.checkin-checkout-details___item {
	display: table-cell;

	&.tb-width-40 {
		width: 40%;
	}

	&.tb-width-20 {
		width: 20%;
	}
}

.checkin-checkout-details__subtitle {
	display: block;
	margin-bottom: 8px;
}

.checkin-checkout-details__info {
	position: relative;
	padding-left: 60px;
	margin-bottom: 5px;

	.meta-day {
		font-size: 45px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	.meta-day-week,
	.meta-month-year {
		display: block;
	}
}

.divider-solid-bottom {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid $border;
	margin: 20px 0;
}

.roomdetails-room {
	margin: 0;
}

.roomdetails-room__title {
	width: 115px;
	float: left;
	clear: left;
	font-size: 14px;
}

.roomdetails-room__text {
	margin-left: 125px;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.roomdetails-room__title,
.roomdetails-room__text {
	margin-bottom: 5px;
}

.rooms.rooms--booked {
	margin-bottom: 30px;

	.mini-room--booked {
		font-size: 20px;
	}

	.mini-room__title {
		width: 124px;
		float: left;
		clear: left;
		font-weight: bold;
		padding-right: 5px;
	}
}

.box .roomdetails-price {
	margin-left: -1rem;
	margin-right: -1rem;
}

.roomdetails-price {
	dt {
		width: 220px;
		float: left;
		clear: left;
		font-size: 14px;
		font-weight: normal;
	}

	dd {
		margin: 0;
		margin-left: 230px;
		text-align: right;

		&.roomdetails-price-vat {
			text-transform: uppercase;
		}
	}
}

.roomdetails-price-base {
	border-bottom: 1px solid $border;
	padding: 15px;
	margin: 0;
}

.roomdetails-price-base__title,
.roomdetails-price-base__text {
	margin-bottom: 5px;
}

.roomdetails-price-footer {
	background-color: $background;
	padding: 15px;
}

.roomdetails-price-total {
	margin: 0;
	margin-bottom: 5px;

	dt, dd {
		margin-bottom: 0;
		font-size: 16px;
		font-weight: bold;
	}
}

.roomdetails-price-footer__info {
	font-size: 12px;
	margin: 0;
}

.roomdetails-price-footer__info-more  {
	border-top: 1px dotted $border;
	margin: 10px 0 0;
	padding-top: 5px;
}