// ------------------------------------------------------------------------
.room_types {
	padding: 0;
	margin: 0;
	list-style: none;
}

.awebooking-loop-room-type {
	margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 50px;

	&:after {
		display: block;
    content: "";
    clear: both;
	}
}

.awebooking-loop-room-type__title {
  margin-bottom: 10px;
}

.awebooking-loop-room-type__media {
	width: 45%;
	float: left;
	padding: 0 15px;

  img {
    width: 100%;
  }
}

.awebooking-loop-room-type__info {
	width: 55%;
	float: left;
	padding: 0 15px;
}

.awebooking-room-type__sale-flash {
	position: absolute;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
  background-color: $awebooking-highlight-color;
}

.awebooking-loop-room-type__price {
	font-weight: bold;
  margin-bottom: 10px;
  line-height: 1;

  span {
    font-size: 30px;
  }
}

.awebooking-loop-room-type__desc {
	font-size: 14px;
}

.awebooking-loop-room-type__button {
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
}

.awebooking-loop-room-type__button-booking {
  display: inline-block;
  border: 1px solid $awebooking-highlight-color;
  padding: 8px 20px;
  margin-top: 10px;
  font-size: 14px;
  background-color: $awebooking-highlight-color;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: lighten($awebooking-highlight-color, 15%);
    border-color: lighten($awebooking-highlight-color, 15%);
  }
}

.awebooking-ordering {
	float: left;
  width: 50%;
  display: none;

  span {
    margin: 0 5px;
  }
}

.awebooking-room-type-filter {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $awebooking-border-color;
  overflow: hidden;

  .awebooking-field {
    margin-bottom: 0;

    > label,
    .awebooking-field-group {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}

.awebooking-location-filter {
  float: left;
  width: 33.333%;

  .awebooking-select {
    min-width: 150px;
  }
}
