/* Dialog */
.awebooking-dialog {
  padding: 0;
  transition: all 0.15s ease-in-out;
  z-index: 100001 !important;

  .ui-dialog-titlebar {
    height: 48px;
    line-height: 48px;
    font-weight: 400;
  }

  .ui-button.ui-dialog-titlebar-close {
    width: 48px;
    height: 48px;
    transition: all .3s ease;
    border-left: solid 1px #ddd;

    &:before {
      font-size: 24px;
      content: '\f335';
      font-weight: 300;
    }

    &:hover,
    &:focus {
      color: #333;
      transform: none;
      background-color: #eee;
    }
  }

  &.ui-dialog .ui-dialog-titlebar-close span {
    display: none !important;
  }

  .awebooking-dialog-contents {
    padding: 15px 15px 0 15px;
  }

  .awebooking-dialog-buttons {
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    border-top: solid 1px #ddd;
    text-align: right;
  }

  .awebooking-wrap {
    width: 550px;
  }

  .cmb2-inline-metabox .cmb-row {
    margin-bottom: 1em;
  }

  .cmb-th > label {
    font-weight: 400;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 7px;
  }

  .list-bulk-rooms {
    overflow: auto;
    max-height: 350px;
    margin: 5px 0;
    border-right: solid 1px #eee;

    > li > strong {
      cursor: pointer;
      display: block;
      margin-bottom: 7px;
    }

    > li > ul {
      display: block;
      margin-bottom: 1rem;
    }
  }
}

.ui-widget-overlay {
  z-index: 100000 !important;
}

/* SweetAlert2 confirm dialog */
.swal2-popup.awebooking-confirm-dialog {
  padding: 0;
  border-radius: 6px;
  background-color: #fff;
  min-width: 320px;
  max-width: 360px;

  /*
  animation-name: _zoomIn;
  animation-duration: .25s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  */

  @mixin in-small() {
    min-width: 280px;
  }

  .swal2-header,
  .swal2-footer {
    display: none !important;
  }

  .swal2-content {
    color: #444;
    font-size: 13px;
    font-weight: 400;
    padding: 30px;

    @mixin in-small() {
      font-size: 15px;
      padding: 30px 20px;
    }
  }

  .swal2-actions {
    margin: 0;
    display: flex;
    border-top: 1px solid #eee;

    > [type="button"] {
      color: #444;
      font-size: 13px;
      background: #fff;
      font-weight: 700;
      line-height: 50px;
      flex: 1 1;
      border: 0;
      cursor: pointer;
      padding: 0 10px;
      user-select: none;
      white-space: nowrap;

      &:focus {
        outline: none;
        background: #f2f2f2;
        transition: background-color 0.24s ease-out;
      }

      &:first-child {
        border-bottom-left-radius: 6px;
      }

      &:last-child {
        color: #0095ff;
        border-left: 1px solid #eee;
        border-bottom-right-radius: 6px;
      }
    }
  }
}

/*
@keyframes _zoomIn {
  from {
    opacity: 0;
    transform: scale(.95);
  }

  70% {
    opacity: 1;
    transform: scale(1);
  }
}
*/
