/* Core CSS */
.wp-badge.awebooking-badge {
  background-image: url("../img/awebooking.png");
  background-color: #2196F3;
}

.button-secondary.cmb-multicheck-toggle,
.abrs-button.button {
  border-color: transparent;
  border-radius: 25px;

  .dashicons {
    line-height: 1.3;
    margin-right: 3px;
  }

  &:focus,
  &:active {
    border: solid 1px #aaa;
  }
}

.button.abrs-dashicons-button {
  line-height: 1;
}

/* No image */
.abrs-no-image {
  display: inline-block;
  box-sizing: border-box;

  width: 38px;
  height: 38px;

  background-color: #f7f7f7;
  border: solid 1px #eee;
  border-radius: 50px;
}

/* CSS Note */
.abrs-note {
  display: block;
  position: relative;
  padding: 1em;

  background-color: #fbfeff;
  border: 1px dashed #9fcce0;
  border-radius: 1px;

  .cmb-td > & {
    max-width: 780px;
  }

  > h3,
  > h4 {
    margin-top: 0;
    margin-bottom: .8em;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

/* Input addon */
.abrs-input-addon {
  display: flex;
  box-sizing: border-box;

  > *,
  > *:after,
  > *:before  {
    box-sizing: border-box;
  }

  > select {
    margin: 0;

    &:focus {
      z-index: 1;
      position: relative;
    }
  }

  > input[type="text"],
  > input[type="email"],
  > input[type="password"] {
    flex-grow: 0;

    margin: 0;
    padding: 3px 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      z-index: 1;
      position: relative;
    }
  }

  > label,
  > button,
  > .button,
  > input[type="button"],
  > input[type="submit"] {
    margin-left: -1px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
  }

  > label {
    padding: 0px 10px;
    border: solid 1px #ddd;
    background-color: #f7f7f7;
    line-height: 28px;
    min-width: 35px;
    text-align: center;
  }

  > select + input {
    margin-left: -1px !important;
  }
}

/* Inline colorpicker */
.abrs-inline-colorpicker {
  @include clearfix;
  margin-bottom: 1em;

  .wp-picker-container {
    float: left;
  }

  .wp-color-result.button {
    margin: 0;
  }
}

/* Dates */
.abrs-input-dates.abrow {
  width: 320px;

 .abcol-6 > .afc,
 .abcol-6 > .dashicons, {
    top: 6px;
    left: 12px;
    z-index: 2;
    position: absolute;
    pointer-events: none;
    font-size: 14px;
    color: #03a9f4;
  }

  input[type="text"] {
    width: 100%;
    margin: 0;
    padding: 3px 10px !important;

    &:focus {
      z-index: 1;
      position: relative;
    }
  }

  input[name="check-in"] {
    padding-left: 32px !important;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  input[name="check-out"] {
    margin-left: -1px !important;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

/* CSS */
.actions > .awebooking-search-customer {
  width: 180px;
  min-width: 180px;
  margin-right: 6px;
  display: inline-block;
}

// Select booking status with colors.
.cmb2-id--status .selectize-input > .item,
.cmb2-id--status .selectize-dropdown-content > .option,
.cmb2-id-booking-status .selectize-input > .item,
.cmb2-id-booking-status .selectize-dropdown-content > .option {
  &:before {
    content: '';
    background-color: #898989;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    @include size(10px, 10px);
  }
}

.awebooking-pending-color,
[data-value="awebooking-pending"]:before {
  background-color: #FFC107 !important;
}
.awebooking-inprocess-color,
[data-value="awebooking-inprocess"]:before {
  background-color: #607d8b !important;
}
.awebooking-on-hold-color,
[data-value="awebooking-on-hold"]:before {
  background-color: #673ab7 !important;
}
.awebooking-deposit-color,
[data-value="awebooking-deposit"]:before {
  background-color: #9c27b0 !important;
}
.awebooking-completed-color,
[data-value="awebooking-completed"]:before {
  background-color: #03a9f4 !important;
}
.awebooking-checked-in-color,
[data-value="checked-in"]:before {
  background-color: #cddc39 !important;
}
.awebooking-checked-out-color,
[data-value="checked-out"]:before {
  background-color: #8bc34a !important;
}
.awebooking-cancelled-color,
[data-value="awebooking-cancelled"]:before {
 background-color: #9e9e9e !important;
}

/* Tables */
table.awebooking-table {
  font-size: 13px;

  th,
  thead td,
  tfoot td {
    font-size: inherit;
  }
}

p.awebooking-no-items {
  color: #676767 !important;
  text-align: center;
  margin: 1em 0 !important;
}

/* Toolbars */
.abrs-toolbar {
  @include clearfix;

  margin: 12px 0 25px;
  padding: 0 1em;
  position: relative;
  box-sizing: border-box;
  display: block;

  color: #555;
  font-size: 13px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0,0,0,0.04);

  a {
    text-decoration: none;
  }
}

.abrs-search-toolbar {
  .cmb-th label { display: none; }
  .abrs-input-dates.abrow { width: 100%; }
}

/* Dialog */
.awebooking-dialog {
  padding: 0;

  .ui-dialog-titlebar {
    height: 48px;
    line-height: 48px;
    font-weight: 400;
  }

  .ui-button.ui-dialog-titlebar-close {
    width: 48px;
    height: 48px;
    transition: all .3s ease;
    border-left: solid 1px #ddd;

    &:before {
      font-size: 24px;
      content: '\f335';
      font-weight: 300;
    }

    &:hover,
    &:focus {
      color: #333;
      transform: none;
      background-color: #eee;
    }
  }

  .awebooking-dialog-contents {
    padding: 15px 15px 0 15px;
  }

  .awebooking-dialog-buttons {
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    border-top: solid 1px #ddd;
    text-align: right;
  }

  .awebooking-wrap {
    width: 550px;
  }

  .cmb2-inline-metabox .cmb-row {
    margin-bottom: 1em;
  }

  .cmb-th > label {
    font-weight: 400;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 7px;
  }
}
