table.wp-list-table {
  .column-rate {
    width: 10%;
  }
  .column-rooms {
    width: 15%;
  }
  .column-capacity {
    width: 20%;
  }

  .column-thumb {
    width: 52px;
    text-align: center;

    @include in-small() {
      display: none;
      text-align: left;

      &:before {
        content: '' !important;
      }
    }

    > a {
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      @include size(38px);
    }

    > a > img {
      width: 100%;
      height: auto;
    }
  }
}

/* body.edit-php.post-type-awebooking {
  ul.subsubsub {
    display: block;
    width: 100%;
    background: #fff;
    padding: 10px 1em;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    box-sizing: border-box;
    float: none;
    margin-bottom: 1em;
  }

  #posts-filter {
    z-index: 1;
    position: relative;

    p.search-box {
      top: -50px;
      right: 0;
      z-index: 2;
      position: absolute;
      padding-right: 1em;
    }
  }
}*/
