.abrs-postbox-title {
  padding: 0.6em 1em;
  background-color: #fafafa;
  border-bottom: solid 1px #eee;
  box-sizing: border-box;
  @include clearfix;

  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
  }

  p {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

#awebooking-booking-data .inside,
#awebooking-booking-notes .inside,
#awebooking-booking-actions .inside,
#awebooking-booking-payments .inside,
#awebooking-booking-rooms .inside,
#awebooking-room-type-data .inside {
  margin: 0;
  padding: 0;
}

#awebooking-room-type-data {
  .awebooking-tabs > li {
    > a {
      padding-left: 45px;
    }

    > a:before {
      @include pseudoicon('', 'awebooking-webfont');
      @include size(20px);
      font-size: 16px;
      line-height: 20px;
      top: 12px;
      left: 15px;
      position: absolute;
    }

    &.tab-room-type-general > a:before {
      content: "\f116";
    }
    &.tab-room-type-pricing > a:before {
      content: "\f147";
    }
    &.tab-room-type-rooms > a:before {
      content: "\f154";
    }
    &.tab-room-type-description > a:before {
      content: "\f13a";
    }
  }

  .awebooking-panel {
    padding: 0 1em 1em;
    min-height: 510px;

    select,
    .regular-text {
      width: 100%;
    }

    > .abrow,
    > .cmb-row {
      padding: 0;
      box-sizing: border-box;
      border-bottom: solid 1px #eee;
    }

    > .abrow > [class*="abcol"],
    > .abrow > [class*="abcol-"] {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    > .abrow > [class*="abcol"]:not(:last-child),
    > .abrow > [class*="abcol-"]:not(:last-child) {
       border-right: solid 1px #eee;
    }
  }

  .abrs-postbox-title {
    margin-left: -1em;
    margin-right: -1em;
  }

  .block-label {
    font-weight: 600;
    display: block;
    margin-bottom: 7px;
  }

  .category-tabs {
    margin: 12px 0 5px;
  }

  .categorychecklist {
    margin-bottom: 7px;
  }
}

#awebooking-booking-data {
  h3 { font-size: 14px; }
  h4 { font-size: 13px; }

  select,
  .regular-text {
    width: 100%;
  }

  .booking-heading {
    padding: 10px 1em;
    margin-left: -1em;
    margin-right: -1em;
    border-bottom: solid 1px #eee;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 22px;
      font-weight: 400;
      line-height: 1.2;
    }
  }

  .cmb-row {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cmb-th > label {
    padding-top: 0;
    padding-bottom: 5px;
    display: inline-block;
    font-weight: 400;
  }

  .js-editnow {
    cursor: pointer;
  }

  .button-editnow {
    float: right;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background-color: #f7f7f7;

    .dashicons,
    .dashicons:before {
      height: 32px;
      line-height: 32px;
    }

    &:hover {
      color: #fff;
      background-color: #00a0d2;
    }
  }

  #excerpt {
    height: auto;
  }

  .customer_note {
    color: #444;
    background-color: #f7f7f7;
    max-height: 150px;
    overflow: auto;
    padding: 1em;

    p:first-child { margin-top: 0; }
    p:last-child { margin-bottom: 0; }
  }
}

#awebooking-booking-rooms table,
#awebooking-booking-payments table {
  border: none;
}

/* Reservation summary */
.reservation-summary-block {
  color: #898989;
  font-size: 13px;

  strong {
    color: #444;
    font-weight: 400;
    display: inline-block;
  }
}

.reservation-details {
  color: #898989;
  margin-top: 1em;
  border: 2px solid #ececec;
  border-top-width: 1px;
  border-radius: 2px;

  p {
    margin-top: 0;
    padding: 10px 20px 0;
    border-top: 1px solid #ececec;
  }

  strong {
    color: #545454;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
    display: block;
    padding-top: 5px;
    padding-bottom: 3px;
  }

  .night-stay > strong {
    color: #1885dc;
  }

  .abrow > [class*="abcol-"]:first-child {
    border-right: solid 1px #ececec;
  }
}

/* Booking Notes */
.form-booking-note {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.booking-notes {
  margin: 0;
  padding: 1em 0 0;
  max-height: 400px;
  list-style: none;
  overflow: auto;
  box-sizing: border-box;
}

.booking-note {
  z-index: 1;
  padding: 0 10px;
  margin-bottom: 0;
  box-sizing: border-box;
  position: relative;

  &__content {
    padding: 10px;
    position: relative;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(96, 125, 139, 0.15);

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      right: 10px;
      width: 0;
      height: 0;
      border-width: 10px 10px 0 10px;
      border-style: solid;
      border-color: #f7f7f7 transparent;
    }

    .system-note & {
      color: #fff;
      background: #607D8B;
    }
    .system-note &::after {
      border-color: #607D8B transparent;
    }

    .customer-note & {
      color: #756c1e;
      background: #fffad1;
    }
    .customer-note &::after {
      border-color: #fffad1 transparent;
    }

    p {
      padding: 0;
      margin: 0 0 7px;
      word-wrap: break-word;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__meta {
    color: #999;
    margin: 0;
    padding: 10px;
    font-size: 11px;
    text-align: right;
  }

  .abrs-delete-button {
    top: -7px;
    right: 7px;
    z-index: 2;
    position: absolute;
    border-radius: 15px;
    display: none;
  }

  &:hover .abrs-delete-button {
    display: block;
  }
}

/* Booking Table */
.booking-section--totals {
  background-color: #f9f9f9;
}

table.abrs-booking-rooms {
  tbody td {
    vertical-align: middle;
    border-bottom: solid 1px #eee;
  }
}

table.abrs-booking-totals {
  width: 420px;
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;

  @include in-small {
    float: none !important;
    width: 100% !important;
  }

  th,
  td {
    padding: 8px 10px;
    vertical-align: top;
    box-sizing: border-box;
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
  }

  th {
    width: 70%;
  }

  td {
    width: 30%;
    background: #fff;
  }

  tr:last-child th,
  tr:last-child td {
    border-bottom: none;
  }
}
