/* Tables */
table.awebooking-table {
  font-size: 13px;

  th,
  thead td,
  tfoot td {
    font-size: inherit;
  }
}

table.availability-table {
  td {
    position: relative;
    vertical-align: middle;
  }

  .book-actions {
    top: 1em;
    right: 1em;
    position: absolute;
    display: none;
  }

  tr:hover .book-actions {
    display: block;
  }

  .select-occupancy {
    display: flex;
    margin-left: -2px;
    margin-right: -2px;

    > p,
    > div {
      margin: 0;
      padding: 0;
      flex-grow: 1;
      flex-basis: 0;
      padding-left: 2px;
      padding-right: 2px;
    }

    label {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    select {
      width: 100%;
    }
  }
}

table.debug-rooms__table {
  width: 350px;
  max-width: 100%;
  background: #fff;
  border-collapse: collapse;

  th,
  td {
    padding: 5px;
    text-align: left;
    border-bottom: solid 1px #eee;
  }

  th {
    width: 100px;
  }
}

/* CMB2 flex table */
.cmb2-flex-table {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: solid 1px #eee;

  .cmb2-flex-tr,
  .cmb-repeatable-grouping {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 100%;
  }

  .cmb2-flex-th,
  .cmb2-flex-td,
  .cmb-repeatable-grouping > .cmb-row {
    flex-grow: 1;
    flex-basis: 0;
    white-space: normal;
    justify-content: center;
    word-break: break-word;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
  }

  .cmb-repeatable-grouping {
    margin: 0;
    padding: 0;
    border: none !important;

    &.cmb-row:after {
      content: none;
    }

    > .cmb-row > .cmb-th {
      display: none;
    }

    > .cmb-row > .cmb-td {
      float: none;
      width: 100%;
    }
  }

  select,
  textarea,
  input.regular-input,
  input[type=email],
  input[type=number],
  input[type=text] {
    margin: 0;
    width: 100% !important;
    border: none;
    box-shadow: none;
  }
}
