/* Toolbars */
.abrs-toolbar {
  @include clearfix;

  margin: 12px 0 25px;
  padding: 0 1em;
  position: relative;
  box-sizing: border-box;
  display: block;

  color: #555;
  font-size: 13px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0,0,0,0.04);

  a {
    text-decoration: none;
  }

  .filter-links a {
    padding: 1.24em 1px;
  }
}

.abrs-page-links {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    height: 100%;
    align-items: center;
  }

  ul > li {
    margin: 0;
  }

  li > a,
  li > span {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    color: #444;
    margin: 0;
    border: none;
    border-radius: 50%;
    font-weight: 600;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
    margin: 0 5px;
  }

  li > span,
  li > a:hover {
    background-color: #eaf7ff;
  }
}
