.awebooking-cart {
  border: 1px solid #ddd;
  padding: 10px;
}

.awebooking-availability-sidebar .awebooking-cart-title {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  margin: 0;
  padding: 10px 15px 9px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.awebooking-cart__header {
  font-size: 14px;

  label {
    width: 20%;
    font-weight: bold;
    margin-right: 15px;
  }

  p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.awebooking-cart__checktime,
.awebooking-cart__nights {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.awebooking-cart__items {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.awebooking-cart-item {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  margin: 10px 0;

  .awebooking-cart-item__rate {
    font-size: 13px;
    margin-bottom: 0;
  }

  .awebooking-cart-item__remove {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    color: #a00;
    box-shadow: none;

    &:hover {
      color: red;
    }
  }

  p {
    font-size: 13px;
    margin-bottom: 0;
  }

  .awebooking-cart-item__guess {
    font-size: 12px;
  }
}

.awebooking-cart-item__info {
  padding-right: 15%;
  font-size: 13px;
}

.awebooking-cart-item__price {
  text-align: right;
}

.awebooking-cart__total {
  label, p {
    font-weight: bold;
    font-size: 14px;
  }
}

.awebooking-cart__total-amount {
  float: right;
}

.awebooking-cart__buttons {
  margin-top: 10px;

  a {
    display: block;
    text-align: center;
    background: #40B9DE;
    color: #ffffff;
  }
}