/* awebooking Form
----------------------------------*/
.awebooking-check-form {
  background-color: $awebooking-background;
}

.awebooking-select,
.awebooking-input.awebooking-datepicker {
  background-color: $awebooking-background-secondary;
  border-color: $awebooking-border-color;
  border-width: 1px;
  border-style: solid;
  color: $awebooking-primary;

  padding: $awebooking-input-padding;
  font-size: $awebooking-font-size-small;
  line-height: $awebooking-line-height-base;
  background-image: none;
}

/* Icons Input */
.awebooking-select,
.awebooking-input.awebooking-calendar {
  // Use vendor prefixes as `appearance` isn't part of the CSS spec.
  -moz-appearance: none;
  -webkit-appearance: none;

  padding-right: 30px;
}

/* awebooking Field */
.awebooking-field {

  > label {
    font-weight: 700;
    font-size: $awebooking-font-size-small;
    text-transform: uppercase;

    display: block;
    margin-bottom: 5px;

    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px;
  }
}

.awebooking-field-group {
  position: relative;

  .fa,
  .awebookingf,
  .icon {
    top: 50%;
    right: 10px;
    position: absolute;
    font-size: 14px;
    color: $awebooking-secondary;
    transform: translateY(-50%);
  }

  .awebookingf-select {
    right: 12px;
    font-size: 10px;
  }
}

.awebooking-checkout-form {
  abbr.required {
      color: red;
      font-weight: 700;
      border: 0;
  }
  .awebooking-input{
    width: 100%;
  }

  input, textarea {
      border: 1px solid  $awebooking-border-color;
      font-family: inherit;
      padding: 5px;
      background-color: transparent;
  }

  .awebooking-billing-fields {
    width: 48%;
    float: left;

    @media (max-width: 480px) {
      width: 100%;
    }

  }

  .awebooking-billing-fields--right{
    width: 48%;
    float: right;

    @media (max-width: 480px) {
      width: 100%;
    }

    textarea{
      width: 100%;
      height: 175px;
    }
  }

  .form-row-first,
  .form-row-last{
    float: left;
    width: 47%;
    overflow: visible;

    &::after {
      content: '';
      clear: both;
    }
  }

  .form-row-last {
      float: right;

  }

  .form-row-wide{
    width: 100%;
  }

  .clear{
      clear: both;
  }

  .awebooking-validate-required {
    .awebooking-input{
      border-color: #a00;
    }

    label {
       color: #a00;
    }
  }
}

// Fix woocommerce.
@media (min-width: 480px) and (max-width: 768px) {
  .awebooking .twentysixteen .site-main {
    margin-right: 7.69% !important;
  }
}

@media (min-width: 996px) {
  .awebooking-check-form--horizontal {

    &:after {
      content: '';
      clear: both;
      display: block;
      width: 100%;
    }

    &.has-location {
      .awebooking-guest-fields {
        width: 23%;
      }

      .awebooking-check-field {
        width: 18%;
        margin-top: 15px;
        
        .awebooking-btn {
          font-size: 12px;
        }
      }
    }

    .awebooking-heading {
      margin-bottom: 0;
    }

    .awebooking-field {
      display: block;
      width: 20%;
      float: left;
      padding-left: 5px;
      padding-right: 5px;
    }

    .awebooking-guest-fields {
      display: block;
      width: 30%;
      float: left;
      padding-left: 5px;
      padding-right: 5px;
    }

    .awebooking-sidebar-group .awebooking-field {
      width: 50%;
    }

    .awebooking-check-field {
      display: block;
      width: 30%;
      margin-top: 25px;

      .awebooking-field-group {
        text-align: center;
      }

      .awebooking-btn {
        font-size: 13px;
      }
    }
  }
}